<html>
<head>
<link rel="stylesheet" type="text/css" href="include/admin/design/style.css" media="all" />
<script language="JavaScript" type="text/javascript">
<!--
function closeThisWindow() {
  opener.focus();
  window.close();
}
function openImgWindow(v,hoehe,breite) {
  var fenster = window.open('include/images/wars/{wid}_{mid}.'+v,'bild','height='+hoehe+',width='+breite);
  fenster.focus();
}
function deleteMap(v) {
  var x = confirm ( "Bild wirklich loeschen?" );
  if ( x ) {
    document.location.href="admin.php?wars-last-upload=0&d=include/images/wars/{wid}_{mid}."+v+"&wid={wid}&mid={mid}";
  }
}
//-->
</script>
</head>
<body>
<table border="0" cellpadding="5" cellspacing="1" class="border" width="100%">
  <tr>
    <td class="Callg">{msg}
      <form id="picupload" action="admin.php?gallery-uploadImages-{cat}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="hochladen" value="yes" />
      <table border="0" cellpadding="5" cellspacing="1" class="border" width="100%">
        {EXPLODE}<tr>
          <td class="{class}">
            <input size="35" type="file" name="file[]" />
            <br /><input type="text" name="besch[]" value="" size="50" />
          </td>
        </tr>{EXPLODE}<tr>
          <td class="Cdark">
            <input class="sub" type="submit" value="Absenden" /> &nbsp;
            <input class="sub" type="button" value="Schliessen" onClick="self.parent.ic.modalDialogClose();" />
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</body>
</html>