<table width="100%" border="0" cellpadding="5" cellspacing="1" class="border" id="awards">
  <tr class="Chead">
    <td><span class="bold thead">Awards</span></td>
  </tr>{EXPLODE "tabelle"}<tr class="{class}">
		<td v>
		  <span class="_lang_for">{_lang_for}</span> <span class="bold team">{team}</span><br />
      <span class="bildutime">{bildutime}</span>
      <span class="_lang_place">{_lang_place}</span>: <span class="platz">{platz}</span><br />
      <span class="_lang_whatfor">{_lang_whatfor}</span>: <span class="wofur">{wofur}</span><br />
      <span class="_lang_desc">{_lang_desc}</span><span class="colon">: <span class="text">{text}</span>
     </td>
  </tr>{EXPLODE "ende"}
</table>