<form action="?contact" method="POST">
  <fieldset>
    <legend>{_lang_whereyouwrite}</legend>
    {EXPLODE}
      <input id="w{KEY}" {c} type="radio" name="wer" value="{KEY}" style="float:left; " /><label for="w{KEY}"> &nbsp; {VAL}</label><br style="clear:both; " />
    {EXPLODE}
	  <br />
	  <label style="float:left; width:100px; ">{_lang_name}</label><input type="text" name="name" value="{name}" maxlength="30"><br />
	  <label style="float:left; width:100px; ">{_lang_mail}</label><input type="text" name="mail" value="{mail}" maxlength="50"><br />
    <label style="float:left; width:100px; ">{_lang_subject}</label><input type="text" name="subject" value="{subject}" maxlength="50"><br />
	  <label style="float:left; width:100px; ">{_lang_message}</label><textarea cols="40" rows="10" name="txt">{text}</textarea><br />
	  {ANTISPAM}
    <label style="float:left; width:100px; ">&nbsp;</label><input type="submit" value=" Absenden "><br />
  </fieldset>
</form>
