{EXPLODE}
<table width="100%" class="border" border="0" cellspacing="1" cellpadding="3">
  <tr class="Chead">
		<th width="80%" align="center"><b>{_lang_category}</b></th>
    <th width="20%" align="center">{_lang_files}</th>
	</tr>
	{EXPLODE}
	<tr class="{class}">
	  <td><a href="index.php?downloads-{id}">{name}</a><br /><span class="smalfont">&raquo;&nbsp;{desc}</span></td>
		<td align="center">{files}</td>
	</tr>
	{EXPLODE}
</table>
<br /><br />
{EXPLODE}
<table width="100%" class="border" border="0" cellspacing="1" cellpadding="3">
  <tr class="Chead">
		<th width="65%" align="center"><b><a href="index.php?downloads-{cid}-position{POM}">{_lang_files}</b></a></th>
    <th width="20%" align="center"><a href="index.php?downloads-{cid}-date{DAM}">{_lang_date}</a></th>
    <th width="15%" align="center"><a href="index.php?downloads-{cid}-downs{DOM}">{_lang_downs}</a></th>
	</tr>
  {EXPLODE}
   <tr class="{class}">
	   <td><a href="index.php?downloads-show-{id}">{ssurl}{name} {version}</a><br /><span class="smalfont">&raquo;&nbsp;{desc}</span></td>
		 <td align="center">{datum}</td>
     <td align="center">{downs}</td>
	 </tr>
   {EXPLODE}
</table>


{EXPLODE}
<p></p><p></p>
<form action="index.php?downloads-upload" method="POST" enctype="multipart/form-data">
  <fieldset>
    <legend><b>{_lang_fileup}</b></legend>
	  <label style="width:100px; float:left;">{_lang_name}</label><input type="text" name="name" maxlength="50" value="" /><br />
	  <label style="width:100px; float:left;">{_lang_version}</label><input type="text" name="version" maxlength="10" size="11" value="" /><br />
	  <label style="width:100px; float:left;">{_lang_author}</label><input type="text" name="autor" maxlength="50" value="" /><br />
	  <label style="width:100px; float:left;">{_lang_linkor}</label><input type="text" name="url" size="40" maxlength="100" value="" /><br />
	  <label style="width:100px; float:left;">{_lang_upload}</label><input type="file" name="file" size="28" /><br />
	  <label style="width:100px; float:left;">{_lang_demolink}</label><input type="text" name="surl" size="40" maxlength="100" value="" /><br />
	  <label style="width:100px; float:left;">{_lang_preview}</label><input type="text" name="ssurl" size="40" maxlength="100" value="" /><br />
	  <label style="width:100px; float:left;">{_lang_shortdesc}</label><input type="text" name="desc" size="40" maxlength="100" value="" /><br />
	  <label style="width:100px; float:left;">{_lang_desc}</label><textarea cols="40" rows="4" name="descl"></textarea><br />
	  <label style="width:100px; float:left;"></label><input type="submit" value="Absenden" name="sub"><br />
  </fieldset>
</form>
