<script language="JavaScript" type="text/javascript">
<!--
  function doVote(n1,did) { document.location.href="index.php?downloads-show-" + did + "-z"+n1; }
//-->
</script>

<table width="100%" class="border" border="0" cellspacing="1" cellpadding="3">
  <tr class="Chead">
    <th colspan="4" align="center"><b>{name} {version}</b></th>
  </tr><tr>
    <td class="Cmite">{_lang_name} (Version)</td>
    <td class="Cnorm">{name} {version_kl}</td>
    <td class="Cmite" colspan="2" valign="top">{_lang_voting} {vote_wertung}</td>
  </tr><tr>
    <td class="Cmite">{_lang_author}</td>
    <td class="Cnorm">{creater}</td>
    <td class="Cnorm" rowspan="2" colspan="2" align="center">
      <table class="border" border="0" cellspacing="1" cellpadding="0">
        <tr>
          <td class="Cdark" onClick="doVote(1,{id})" style="cursor:pointer">&nbsp;1&nbsp;</td>
          <td class="Cmite" onClick="doVote(2,{id})" style="cursor:pointer">&nbsp;2&nbsp;</td>
          <td class="Cdark" onClick="doVote(3,{id})" style="cursor:pointer">&nbsp;3&nbsp;</td>
          <td class="Cmite" onClick="doVote(4,{id})" style="cursor:pointer">&nbsp;4&nbsp;</td>
          <td class="Cdark" onClick="doVote(5,{id})" style="cursor:pointer">&nbsp;5&nbsp;</td>
          <td class="Cmite" onClick="doVote(6,{id})" style="cursor:pointer">&nbsp;6&nbsp;</td>
          <td class="Cdark" onClick="doVote(7,{id})" style="cursor:pointer">&nbsp;7&nbsp;</td>
          <td class="Cmite" onClick="doVote(8,{id})" style="cursor:pointer">&nbsp;8&nbsp;</td>
          <td class="Cdark" onClick="doVote(9,{id})" style="cursor:pointer">&nbsp;9&nbsp;</td>
          <td class="Cmite" onClick="doVote(10,{id})" style="cursor:pointer">&nbsp;10&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr><tr>
    <td class="Cmite">{_lang_date}</td>
    <td class="Cnorm">{datum}</td>
  </tr><tr>
    <td class="Cmite" width="110">{_lang_size}</td>
    <td class="Cnorm">{size}</td>
    <td class="Cmite" width="110">{_lang_voter}</td>
    <td class="Cnorm">{vote_klicks}</td>
  </tr><tr>
    <td class="Cmite">{_lang_downloads}</td>
    <td class="Cnorm">{downs}</td>
    <td class="Cmite">{_lang_seenfrom}</td>
    <td class="Cnorm">{hits}</td>
  </tr>
</table>
<p></p>
<b><center>{downlink}&nbsp;&nbsp;&nbsp;{surl}</center></b>
<p></p>
<table width="100%" class="border" border="0" cellspacing="1" cellpadding="3">
  <tr>
    <th class="Cdark">{_lang_desc}</th>
  </tr>
  <tr>
    <td class="Cnorm">{ssurl}{descl}</td>
  </tr>
</table>