<script language="JavaScript" type="text/javascript">
<!--
  function doVote(n1,did) { document.location.href="index.php?downloads-show-" + did + "-z"+n1; }
//-->
</script>

<table width="100%" class="border" border="0" cellspacing="1" cellpadding="3">
  <tr class="Chead">
    <th colspan="4" align="center"><b>{name} {version}</b></th>
  </tr><tr>
    <td class="Cmite">{_lang_name} (Version)</td>
    <td class="Cnorm">{name} {version_kl}</td>
    <td class="Cmite" colspan="2" valign="top">{_lang_voting} {vote_wertung}</td>
  </tr><tr>
    <td class="Cmite">{_lang_author}</td>
    <td class="Cnorm">{creater}</td>
    <td class="Cnorm" rowspan="2" colspan="2" align="center">
      <table class="border" border="0" cellspacing="1" cellpadding="0">
        <tr>
          <td class="Cdark" onClick="doVote(1,{id})" style="cursor:pointer">&nbsp;1&nbsp;</td>
          <td class="Cmite" onClick="doVote(2,{id})" style="cursor:pointer">&nbsp;2&nbsp;</td>
          <td class="Cdark" onClick="doVote(3,{id})" style="cursor:pointer">&nbsp;3&nbsp;</td>
          <td class="Cmite" onClick="doVote(4,{id})" style="cursor:pointer">&nbsp;4&nbsp;</td>
          <td class="Cdark" onClick="doVote(5,{id})" style="cursor:pointer">&nbsp;5&nbsp;</td>
          <td class="Cmite" onClick="doVote(6,{id})" style="cursor:pointer">&nbsp;6&nbsp;</td>
          <td class="Cdark" onClick="doVote(7,{id})" style="cursor:pointer">&nbsp;7&nbsp;</td>
          <td class="Cmite" onClick="doVote(8,{id})" style="cursor:pointer">&nbsp;8&nbsp;</td>
          <td class="Cdark" onClick="doVote(9,{id})" style="cursor:pointer">&nbsp;9&nbsp;</td>
          <td class="Cmite" onClick="doVote(10,{id})" style="cursor:pointer">&nbsp;10&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr><tr>
    <td class="Cmite">{_lang_date}</td>
    <td class="Cnorm">{datum}</td>
  </tr><tr>
    <td class="Cmite" width="110">{_lang_size}</td>
    <td class="Cnorm">{size}</td>
    <td class="Cmite" width="110">{_lang_voter}</td>
    <td class="Cnorm">{vote_klicks}</td>
  </tr><tr>
    <td class="Cmite">{_lang_downloads}</td>
    <td class="Cnorm">{downs}</td>
    <td class="Cmite">{_lang_seenfrom}</td>
    <td class="Cnorm">{hits}</td>
  </tr>
</table>
<p></p>
<b><center>{downlink}&nbsp;&nbsp;&nbsp;{surl}</center></b>
<p></p>
<table width="100%" class="border" border="0" cellspacing="1" cellpadding="3">
  <tr>
    <th class="Cdark">{_lang_desc}</th>
  </tr>
  <tr>
    <td class="Cnorm">{ssurl}{descl}</td>
  </tr>
</table>
<!-- Kommentar -->
{EXPLODE "koms_on"}
<script>
  $(document).ready(function() {
    $('#newkom').click(function() {
      $dialog = $('#komdiv').dialog({ autoOpen: true, modal: true, title: '{_lang_writecomment}', width: 300 });
    });
  });
</script>
<p></p>	
<table width="100%" class="border" border="0" cellspacing="1" cellpadding="3">
  <tr>
    <td class="Cmite" colspan="3" align="left"><b>{_lang_comments}</b>&nbsp;<a style="cursor:pointer;" id="newkom">({_lang_writecomment})</a></td>
  </tr><tr>
 	<td class="Cnorm" colspan="3" align="left">
 	<div id="komdiv" name="komdiv">
 	  <form action="index.php?downloads-show-{id}" method="post" id="comments">
 	  {ANTISPAM}
 	    <br><br>
 	    <label>{_lang_name}<br><input type="text" name="name" value="{uname}" {readonly} /></label>
 	    <br><br>
 	    <label>{_lang_comment}<br><textarea style="width: 100%;" rows="2" name="text"></textarea></label>
 	    <br><br>
 	    <input type="submit" value="{_lang_enter}">    
 	  </form>
 	</div>
 	{EXPLODE "koms_self"}
 	<div class="comment">
 	  <img class="avatar" src="{avatar}" /><p class="arrow"></p>
 	  <blockquote><p>{text}</p><h1>#{zahl}&nbsp;von&nbsp;<b>{name}</b></h1><h2>{time}</h2></blockquote>
 	</div>
 	{EXPLODE "koms_off"}
 	</td>
  </tr>
</table>
<!-- Kommentar -->