{EXPLODE}
<table width="100%" class="border" border="0" cellspacing="1" cellpadding="3">
  <tr class="Chead">
    <td width="80%" align="center"><b>{_lang_category}</b></td>
    <td width="20%" align="center">{_lang_pictures}</td>
  </tr>
  {EXPLODE}
  <tr class="{class}">
    <td><a href="index.php?gallery-{id}">{name}</a><br /><span class="smalfont">&raquo;&nbsp;{besch}</span></td>
    <td align="center">{gallery}</td>
  </tr>
  {EXPLODE}
</table>
<br /><br />
{EXPLODE}
<table width="100%" class="border" border="0" cellspacing="1" cellpadding="3">
  <tr class="Chead">
    <td colspan="{imgperline}" align="center"><b>{cname}</b></td>
  </tr>
  {EXPLODE}
    <td class="{class}" width="{width}%" valign="top" align="center">
    <div id="gallery-info-div-{id}" title="Bildinformation" style="display: none">
    <table width="100%" border="0" cellspacing="1" cellpadding="1">
      <tr>
        <td style="text-align:left;vertical-align:top;width:100px"><strong>{_lang_filename}:</strong></td><td align="left">{datei_name}</td>
      </tr><tr>
        <td style="text-align:left;vertical-align:top;width:100px"><strong>{_lang_seen}:</strong></td><td align="left">{klicks}</td>
      </tr><tr>
        <td style="text-align:left;vertical-align:top;width:100px"><strong>{_lang_voting}:</strong></td><td align="left">{vote_wertung}</td>
      </tr><tr>
        <td style="text-align:left;vertical-align:top;width:100px"><strong>{_lang_comments}:</strong></td><td align="left">{anz_koms}</td>
      </tr><tr>
        <td style="text-align:left;vertical-align:top;width:100px"><strong>{_lang_desc}:</strong></td><td align="left">{besch}</td>
      </tr>
    </table>
    </div>	
	<style>
	#fancybox-wrap {margin: 0px 0px;}
	</style>
    <script language="Javascript" type="text/javascript">
	var currentDialog; var currentImage;
    $(document).ready(function() {
        $(".gallery-info").each(function(index,element) {
            $(element).mouseover(function() {
                currentDialog = $(document.getElementById(element.rel));
                currentDialog.dialog({width:"25%",close:"none"});
            }).mousemove(function(event) { 
      			currentDialog.dialog("option","position", { 
      			my:"left top", 
      			at:"right bottom", 
      			of:event, 
      			offset:"15 15" 
      		});
      		
      	$("a#fancyframe").fancybox({
				'overlayShow'		: true,				
				'width'				: '90%',
				'height'			: '90%',
				'autoScale'			: false,
				'transitionIn'		: 'elastic',
				'transitionOut'		: 'elastic',
				'type'				: 'iframe',
				'titleShow'         : false,
				'centerOnScroll'	: true
			});
      	});
      	
	var destfunc = function() {
	    if (currentDialog != null) currentDialog.dialog('destroy');
	    }
	    $(element).mouseout(destfunc).click(destfunc);
        });
    });	
    </script>
    
    <table class="border" border="0" cellspacing="1" cellpadding="0">
      <tr>
        <td><a id="fancyframe" class="gallery-info" rel="gallery-info-div-{id}" href="index.php?gallery-show-{cat}-p{bildr}"><img src="include/images/gallery/img_thumb_{id}.{endung}" border="0" alt="{datei_name}" title="" /></a></td>
      </tr>
    </table>
  </td>
  {EXPLODE}
  </tr>
</table>
<center>{MPL}</center>