<table width="100%" border="0" cellpadding="5" cellspacing="1" class="border">
  <tr class="Chead">
    <td colspan="4"><b>{_lang_picofcat} {category}</b></td>
  </tr>
  {EXPLODE}
    <td class="{class}" width="25%" align="center" valign="top"><a href="index.php?gallery-showimg&amp;category={category}&amp;img={img}"><IMG SRC="images/gallery/{smallimg}" border="0" title="{txt}" alt="{txt}"></a></td>
    {EXPLODE}
  <tr class="Cdark">
    <td colspan="4" align="center">{_lang_page}: {mpl}</td>
  </tr>
</table>