<table width="100%">
  <tr>
    <td width="50%" align="right">{EINTRAGE} {_lang_entries}</td>
    <td width="50%" align="center"><a href="index.php?gbook-insert">{_lang_insert}</a></td>
  </tr>
</table>
<br/>
{EXPLODE}
<table width="100%" cellpadding="4" cellspacing="0" border="0" class="rand">
  <tr class="Cmite">
    <td width="40%"><b>{NAME}</b></td>
    <td width="20%">{MAIL}{PAGE}</td>
    <td width="40%" align="right"><span class="smalfont">{DATE}</span></td>
  </tr>
  <tr class="Cnorm">
    <td colspan="3">{TEXT}</td>
  </tr>
</table>
{koms}
<br />
<br />
{EXPLODE}
<br />
<br />
<div align="center">{SITELINK}</div>
{EXPLODE "formular_eintrag"}
<!-- G &auml; S T E B U C H   E N T E R   F O R M U L A R -->
<noscript>Bitte JavaScript aktivieren</noscript>
<script language="JavaScript" type="text/javascript">
<!--
var ErlaubteAnzahl={TXTL};

function RestlicheZeichenErmitteln(d)
{
	Laenge=document.form.txt.value.length;
	if(Laenge>ErlaubteAnzahl)
	{
		document.form.txt.value=document.form.txt.value.substring(0,ErlaubteAnzahl);
		RestlicheZeichen=0;
	}
	else
	{
		RestlicheZeichen=ErlaubteAnzahl-Laenge;
	}
	document.form.Laenge.value=RestlicheZeichen;
}
//-->
</script>

<script type="text/javascript" src="include/includes/js/bbcode.js"></script>
<form action="index.php?gbook-insert" onsubmit="return checkg()" method="POST" name="form" id="gbook_form">
{FEHLER}
<table width="100%" class="border" cellspacing="1" border="0" cellpadding="5">
  <tr>
    <td class="Chead" colspan="2"><b>{_lang_insert}</b></td>
  </tr><tr>
    <td class="Cmite" width="100"><b>{_lang_name}</b></td>
	<td class="Cnorm"><input type="text" value="{uname}" tabindex="1" name="name"></td>
  </tr><tr>
    <td class="Cmite"><b>{_lang_mail}</b></td>
	<td class="Cnorm"><input type="text" name="mail" tabindex="2" value="{MAIL}"></td>
  </tr><tr>
    <td class="Cmite"><b>{_lang_homepage}</b></td>
	<td class="Cnorm"><input type="text" name="page" tabindex="3" value="{PAGE}"></td>
  </tr><tr>
    <td class="Cmite"><b>{_lang_message}</b><br/><br/>{SMILIES}</td>
	<td class="Cnorm">
	  <table width="100%" border="0" cellpadding="0" cellspacing="0">
	    <tr>
	      <td width="100%"><!-- BB Code START -->{__BBCodeButtons__}<!-- BB Code START --></td>
	    </tr><tr class="Cnorm">
	      <td width="100%"><textarea style="width: 98%" onblur="RestlicheZeichenErmitteln(this);" onchange="RestlicheZeichenErmitteln(this);" onfocus="RestlicheZeichenErmitteln(this);" onkeydown="RestlicheZeichenErmitteln(this);" onkeyup="RestlicheZeichenErmitteln(this);" cols="50" rows="10" tabindex="4" name="txt">{TEXT}</textarea><br />Noch <input size="3" name="Laenge" value="{TXTL}"> {_lang_signs}</td>
	    </tr>
	  </table>
	</td>
  </tr>{ANTISPAM}<tr class="Cdark">
    <td></td>
    <td><input name="submit" type="submit" value="{_lang_formsub}" tabindex="5" accesskey="s">  &nbsp; <input name="preview" type="submit" value="{_lang_preview}" /></td>
  </tr>
</table>
</form>
{EXPLODE}
<table width="100%" cellpadding="4" cellspacing="0" border="0" class="rand">
  <tr class="Cmite">
    <td width="40%"><b>{name}</b></td>
    <td width="20%">{mail}{page}</td>
    <td width="40%" align="right"><span class="smalfont">{datum}</span></td>
  </tr><tr class="Cnorm">
    <td colspan="3">{text}</td>
  </tr>
</table>
<!-- Kommentar -->
{EXPLODE "koms_on"} 	
<script>
  $(document).ready(function() {
    $('#newkom').click(function() {
      $dialog = $('#komdiv').dialog({ autoOpen: true, modal: true, title: '{_lang_writecomment}', width: 300 });
    });
  });
</script>
<p></p>
<table width="100%" cellpadding="4" cellspacing="0" border="0" class="rand">
  <tr>
    <td class="Cmite" colspan="3" align="left"><b>{_lang_comments}</b>&nbsp;<a style="cursor:pointer;" id="newkom">({_lang_writecomment})</a></td>
  </tr><tr>
 	<td class="Cnorm" colspan="3" align="left">
 	  <div id="komdiv" name="komdiv">
 	    <form action="index.php?gbook-show-{id}" method="post" id="comments">
 	    {ANTISPAM}
 	      <br><br>
 	      <label>{_lang_name}<br><input type="text" name="name" value="{uname}" {readonly} /></label>
 	      <br><br>
 	      <label>{_lang_comment}<br><textarea style="width: 100%;" rows="2" name="text"></textarea></label>
 	      <br><br>
 	      <input type="submit" value="{_lang_enter}">    
 	    </form>
 	  </div>
 	  {EXPLODE "koms_self"}
 	  <div class="comment">
 	    <img class="avatar" src="{avatar}" /><p class="arrow"></p>
 	    <blockquote><p>{text}</p><h1>#{zahl}&nbsp;von&nbsp;<b>{name}</b></h1><h2>{time}</h2></blockquote>
 	  </div>
 	  {EXPLODE "koms_off"}
 	</td>
  </tr>
</table>
<!-- Kommentar -->
{EXPLODE "preview"}
<table class="border" width="100%">
  <tr>
    <td class="Chead"><b>{_lang_preview}</b></td>
  </tr><tr class="Cnorm">
    <td>{TEXT}</td>
  </tr>
</table>