  <table width="100%">
	  <tr>
		  <td width="50%" align="right">
			  {EINTRAGE} {_lang_entries}
			</td>
		  <td width="50%" align="center">
			  <a href="index.php?gbook-1">{_lang_insert}</a>
			</td>
		</tr>
	 </table>
	
	<br>
{EXPLODE}

<table width="100%" cellpadding="4" cellspacing="0" border="0" class="rand">
	<tr class="Cmite">
	    <td width="40%"><b>{NAME}</b></td>
			<td width="20%">{MAIL}{PAGE}</td>
      <td width="30%" align="right">{DATE}</td>
 	</tr>
	<tr class="Cnorm">
		  <td colspan="3">{TEXT}</td>
	</tr>
</table>
{koms}
<br />
<br />
{EXPLODE}


<br />
<br />

<div align="center">{SITELINK}</div>

{EXPLODE}

<!-- G &auml; S T E B U C H   E N T E R   F O R M U L A R -->


<script language="JavaScript" type="text/javascript">
<!--
  
	var ErlaubteAnzahl={TXTL};
	
	
	function checkg ( ) {
	  if ( document.form.txt.value.length > ErlaubteAnzahl ) {
		  alert('Du hast mehr als ' + ErlaubteAnzahl + ' Zeichen verwendet');
			return false;
		} else {
		  var fehler = '';
			if ( document.form.txt.value.length == 0 ) {
			  fehler += 'Bitte einen Text eingeben';
			}
			if ( document.form.name.value.length == 0 ) {
			  if ( fehler != '' ) {
				  fehler += "\n";
				}
				fehler += 'Bitte einen Namen eingeben';
			}
			if ( fehler != '' ) {
			  alert ( fehler );
				return false;
			} else {
			  return true;
			}
		}
	}

function RestlicheZeichenErmitteln(d)
{
	Laenge=document.form.txt.value.length;
	if(Laenge>ErlaubteAnzahl)
	{
		document.form.txt.value=document.form.txt.value.substring(0,ErlaubteAnzahl);
		RestlicheZeichen=0;
	}
	else
	{
		RestlicheZeichen=ErlaubteAnzahl-Laenge;
	}
	document.form.Laenge.value=RestlicheZeichen;
}

//-->
</script>

<script type='text/javascript' src='include/includes/js/bbcode.js'></script>
<form action="index.php?gbook-2" onsubmit="return checkg()" method="POST" name="form">

<table width="100%" class="border" cellspacing="1" border="0" cellpadding="5">
  <tr>
    <td class="Chead" colspan="2"><b>{_lang_insert}</b></td>
	</tr><tr>
    <td class="Cmite" width="100"><b>{_lang_name}</b></td>
		<td class="Cnorm"><input type="text" value="{uname}" tabindex="1" name="name"></td>
	</tr><tr>
    <td class="Cmite"><b>{_lang_mail}</b> *</td>
		<td class="Cnorm"><input type="text" name="mail" tabindex="2"></td>
	</tr><tr>
    <td class="Cmite"><b>{_lang_homepage}</b> *</td>
		<td class="Cnorm"><input type="text" name="page" tabindex="3"></td>
	</tr><tr>
  <td class="Cmite" valign="top"><b>{_lang_message}</b><br><br>{SMILIES}</td>
	<td class="Cnorm">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="100%">
      <!-- BB Code START -->
	   
    <a href="javascript:simple('b')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.bold.gif" alt="b" title="{_lang_bold}" border="0"></a>
    <a href="javascript:simple('i')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.italic.gif" alt="i" title="{_lang_italic}" border="0"></a>
	<a href="javascript:simple('u')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.underline.gif" alt="u" title="{_lang_underlined}" border="0"></a>
    <a href="javascript:simple('code')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.code.gif" alt="Code" title="{_lang_code}" border="0"></a>
	<a href="javascript:simple_liste()"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.insertunorderedlist.gif" alt="{_lang_list}" title="{_lang_list}" border="0"></a>
    <a href="javascript:simple('url')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.link.gif" alt="Url" title="{_lang_link}" border="0"></a>
    <a href="javascript:simple('img')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.image.gif" alt="{_lang_picture}" title="{_lang_picture}" border="0"></a>

		 
		 <!-- BB Code START -->
				</td>
      </tr><tr class="Cnorm">
        <td width="100%"><textarea style="width: 98%" onblur="RestlicheZeichenErmitteln(this);" onchange="RestlicheZeichenErmitteln(this);" onfocus="RestlicheZeichenErmitteln(this);" onkeydown="RestlicheZeichenErmitteln(this);" onkeyup="RestlicheZeichenErmitteln(this);" cols="50" rows="10" tabindex="4" name="txt"></textarea><br />Noch <input size="3" name="Laenge" value="{TXTL}"> {_lang_signs}</td>
      </tr>
    </table></td>
	</tr>{ANTISPAM}<tr class="Cdark">
  <td></td><td><input type="submit" value="{_lang_formsub}" tabindex="5" accesskey="s"></td>
	</tr></table></form>

{EXPLODE}
<table width="100%" cellpadding="4" cellspacing="0" border="0" class="rand">
	<tr class="Cmite">
	    <td width="40%"><b>{name}</b></td>
			<td width="20%">{mail}{page}</td>
      <td width="30%" align="right">{datum}</td>
 	</tr>
	<tr class="Cnorm">
		  <td colspan="3">{text}</td>
	</tr>
</table>
<br />
<table width="100%" cellpadding="4" cellspacing="0" border="0" class="rand">
	<tr class="Cnorm">
    <td>
	    <form action="index.php?gbook-show-{id}" method="POST">
        <fieldset>
          <legend>{_lang_writecomment}</legend>
          <label style="float:left; width:100px;">{_lang_name}</label><input type="text" name="name" value="{uname}" /><br />
<label style="float:left; width:100px; ">{_lang_comment}</label><textarea cols="40" rows="5" name="text"></textarea><br />
{ANTISPAM}
 <label style="float:left; width:100px;">&nbsp;</label><input type="submit" value="{_lang_enter}"><br />
        </fieldset>
      </form>
      <br />
      {EXPLODE}
     
      <span class="Cmite"># <b>{zahl}</b> von {name}</span>
      <br />{text}<br /><br />
      
      {EXPLODE}
    </td>
  </tr>
</table>