<script type="text/javascript">
var icCalenderView = {VIEW};
var icCalenderMonth = {MONAT};
var icCalenderYear = {YEAR};
$(document).ready(function() {
  $( "#datepickercontent" ).datepicker({
			autoSize: true,
			monthNames: ['Januar','Februar','M&auml;rz','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'],
			monthNamesShort: ['Jan','Feb','M&auml;r','Apr','Mai','Jun','Jul','Aug','Sep','Okt','Nov','Dez'],
			dayNamesMin: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
			showWeek: true,
			buttonText: 'Choose',
			changeMonth: true,
			changeYear: true,
			firstDay: 1,
			dateFormat: 'dd.mm.yy',
			autoSize: true,
			buttonText: 'Choose',
			showButtonPanel: false,
			gotoCurrent: true,
			currentText: 'Heute',
			onSelect: function(dateText, inst) {
                var datesplit = dateText.split('.');
                //location.href = loc+'index.php?kalender-v'+icKalenderView+'-m'+datesplit[1]+'-y'+datesplit[2]+'-d'+datesplit[0];
                ic.Ajaxload({url:'index.php?kalender-v'+icCalenderView+'-m'+datesplit[1]+'-y'+datesplit[2]+'-d'+datesplit[0], elementId: 'kalendercontent'});
            },
            onChangeMonthYear: function(year, month) {
                icCalenderMonth = month;
                icCalenderYear = year;
            }
	});
	if ('{TAG}.{MONAT}.{YEAR}'.length == 10) {
	    $( "#datepickercontent" ).datepicker( "setDate" , '{TAG}.{MONAT}.{YEAR}');
	}
	$('a.calajax').icAjaxload('kalendercontent');
	$('a#listviewlink').click(function() { ic.Ajaxload({url:'index.php?kalender-v1-m' + icCalenderMonth + '-y' + icCalenderYear, elementId: 'kalendercontent'}) });
	$('a#monthviewlink').click(function() { ic.Ajaxload({url:'index.php?kalender-v0-m' + icCalenderMonth + '-y' + icCalenderYear, elementId: 'kalendercontent'}) });
});
ic.documentReadyAdd(function(type, elemid) {
    if (type == 'ajaxelement' && elemid == 'kalendercontent') {
        $('#kalendercontent a.calajax').icAjaxload('kalendercontent');
    }
}, 'ajaxload');
</script>
<noscript>Bitte JavaScript aktivieren</noscript>
<!-- Kalender Script by Nickel -->
<table width="100%" cellpadding="0" border="0" cellspacing="0">
  <tr>
    <td width="100%" valign="top" id="kalendercontent">
    {EXPLODE "listbegin"}
      <table width="100%" cellpadding="3" border="0" cellspacing="1" class="border">
        <tr class="Chead">
          <td {TITLE_ALIGN} colspan="3"><b>{TITLE}</b></td>
        </tr>
        {EXPLODE "listitem"}
        <tr class="{LIST_CLASS}">
          <td align="center" valign="top" width="25" nowrap="nowrap">{LIST_I}</td>
          <td align="center" valign="top" width="25" nowrap="nowrap">{LIST_D}</td>
          <td width="100%">{LIST_T}</td>
        </tr>
        {EXPLODE "detail"}
        <tr class="Cmite">
          <td colspan="3"><font style="font-size: 10px">{DETAIL_DATE} - {DETAIL_TIME} Uhr</font></td>
        </tr>
        <tr class="Cnorm">
          <td colspan="3">{DETAIL_TEXT}</td>
        </tr>
        <tr class="Cnorm">
          <td colspan="3" align="center">
          {_if_{BACK_LINK}=='1'}
            <a href="javascript:history.back()">{_lang_back}</a>
          {_else_}
            <a href="{BACK_LINK}" class="calajax">{_lang_back}</a>
          {/_endif}
          </td>
        </tr>
        {EXPLODE "listend"}
      </table>
      {EXPLODE "kalenderend"}
    </td>
    <td width="10" nowrap="nowrap">&nbsp;</td>
    <td width="175" valign="top" nowrap="nowrap" align="center">
      <div id="datepickercontent"></div>
      <a class="calajax" href="index.php?kalender-v1" id="listviewlink">{_lang_listview}</a> | <a class="calajax" href="index.php?kalender-v0" id="monthviewlink">{_lang_monthsview}</a>
    </td>
  </tr>
</table>
<!-- Kalender Script by Nickel -->
{EXPLODE "tooltips start"}
<div class="kalender-event-tooltips" style="display: none">
{EXPLODE "tooltip"}
<div id="calender-event-details-{id}" title="{title}">
{text}
</div>
{EXPLODE "tooltips end"}
</div>
{EXPLODE "tooltips javascript"}
<script language="Javascript" type="text/javascript">
	var currentDialog;
    $(document).ready(function() {
        /*$(".kalender-event-tooltips > div").each(function(index,element) {
        $(element).dialog({autoOpen: false});
        });*/

        $(".calender-event").each(function(index,element) {
            $(element).mouseover(function() {
                currentDialog = $(document.getElementById(element.rel));
                currentDialog.dialog();
            });
            var destfunc = function() {
                if (currentDialog != null) currentDialog.dialog('destroy');
            }
            $(element).mouseout(destfunc).click(destfunc);
        });
    });
</script>
{EXPLODE "event link"}
<a class="calender-event calajax" rel="calender-event-details-{id}" href="index.php?kalender-v{view}-e{id}">{title}</a>