<?xml version="1.0" encoding="ISO-8859-1"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="de">

  <title>{FEEDTITLE}</title>
  <link href="http://www.ilch.de/"/>
  <updated>{UPDATED}</updated>
  <author>
    <name>Manuel</name>
  </author>
  <id>http://www.ilch.de/</id>
{EXPLODE}
  <entry>
    <title>{TITLE}</title>
    <link href="{LINK}"/>
    <id>{LINK}</id>
    <updated>{DATE}</updated>
    <published>{DATE}</published>
    <summary type="html"><![CDATA[{TXT}]]></summary>
  </entry>
{EXPLODE}
</feed>