<ul>
  <li><a href="index.php?forum">{_lang_board}</a> ( <a href="index.php?sitemap-forum">{_lang_sitemapforboard}</a> )</li>
  <li><a href="index.php?news">{_lang_news}</a> ( <a href="index.php?sitemap-news">{_lang_sitemapfornews}</a> )</li>
  <li><a href="index.php?downloads">{_lang_downloads}</a> ( <a href="index.php?sitemap-downloads">{_lang_sitemapfordownloads}</a> )</li>
  <li><a href="index.php?links">{_lang_links}</a> ( <a href="index.php?sitemap-links">{_lang_sitemapforlinks}</a> )</li>
</ul> 
{EXPLODE}
<h2>{site} {_lang_sitemap}</h2>
{MPL}
{_list_links@&nbsp; &gt; <a href="%1">%2</a><br />}
{MPL}