<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>{TITLE}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta name="Copyright" content="Script Copyright by ilch.de">
		<meta name="Page-topic" content="ilchClan - Clanscript">
		<meta name="Audience" content="Alle">
		<meta name="Robots" content="INDEX,FOLLOW">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="Pragma" content="no-cache">
		<meta name="Robots" content="archive">
		<link rel="stylesheet" type="text/css" href="include/designs/{DESIGN}/style.css">
	</head>
<body> 

<div id="main_col">
<table width="100%" cellspacing="1" cellpadding="20" class="rand">
  <tr>
	  <td class="Callg">
      {EXPLODE}
    </td>
  </tr>
</table>
</div>

</body>
</html>
  
