<table width="100%" cellpadding="3" border="0" cellspacing="1" class="border">
<tr class="Cdark">
	<td colspan="6" valign="bottom" align="center">{show}</td>
</tr>
</table>
{EXPLODE}
<table width="100%" cellpadding="3" border="0" cellspacing="1" class="border">
{EXPLODE}
<tr class="{class}">
	<td>
	<table width="100%" cellpadding="3" border="0" cellspacing="1">
	<tr>
		<td rowspan="2" width="30%" align="center" valign="middle"><a href="index.php?user-details-{uid}">{avatar}</a></td>
		<td colspan="4"><a href="index.php?user-details-{uid}">{name}</a></td>
	</tr><tr>
		<td width="10%" align="center">{icq}</td>
		<td width="25%">{posi}</td>
		<td width="5%" align="center">{staat}</td>
		<td width="20%">{status}</td>
		<td width="10%">&nbsp;</td>
	</tr>
	</table>
	</td>
</tr>
{EXPLODE}
<tr class="{class}">
	<td width="30%">{name}</td>
	<td width="10%" align="center">{icq}</td>
	<td width="25%">{posi}</td>
	<td width="5%" align="center">{staat}</td>
	<td width="20%">{status}</td>
	<td width="10%" align="center"><a href="index.php?user-details-{uid}">{_lang_more}</a></a></td>
</tr>
{EXPLODE}
</table>
<br />