<table width="100%" border="0" cellpadding="5" cellspacing="1" class="border">
<tr>
	<td class="Cmite">{_lang_Monday}</td>
</tr><tr>
	<td class="Cnorm">{MON}</td>
</tr><tr>
	<td class="Cmite">{_lang_Tuesday}</td>
</tr><tr>
	<td class="Cnorm">{DIE}</td>
</tr><tr>
	<td class="Cmite">{_lang_Wednesday}</td>
</tr><tr>
	<td class="Cnorm">{MIT}</td>
</tr><tr>
	<td class="Cmite">{_lang_Thursday}</td>
</tr><tr>
	<td class="Cnorm">{DON}</td>
</tr><tr>
	<td class="Cmite">{_lang_Friday}</td>
</tr><tr>
	<td class="Cnorm">{FRE}</td>
</tr><tr>
	<td class="Cmite">{_lang_Saturday}</td>
</tr><tr>
	<td class="Cnorm">{SAM}</td>
</tr><tr>
	<td class="Cmite">{_lang_Sunday}</td>
</tr><tr>
	<td class="Cnorm">{SON}</td>
</tr>
</table>