<table border="0" cellspacing="1" cellpadding="1" class="border">
<tr class="Chead">
	<td align="center" colspan="4" ><b>{TITLE}</b></td>
</tr><tr class="Cmite">
	<td align="center">{_lang_whole}</td>
	<td align="center">{_lang_win}</td>
	<td align="center">{_lang_los}</td>
	<td align="center">{_lang_pat}</td>
</tr><tr class="Cnorm">
	<td align="center"><font class="textalter">{GES}</font></td>
	<td align="center"><font color="#00FF00">{WIN}</font></td>
	<td align="center"><font color="#FF4242">{LOS}</font></td>
	<td align="center"><font color="#FFEE00">{PAT}</font></td>
</tr>
</table>
<br>
<br>
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
<tr class="Chead">
	<td colspan="4"><b>{_lang_nextwars}</b></td>
</tr>
<tr class="Cdark">
	<td width="30%"><b>{_lang_date}</b></td>
	<td width="30%"><b>{_lang_opponent}</b></td>
	<td width="30%"><b>{_lang_squad}</b></td>
	<td width="10%"><b>{_lang_more}</b></td>
</tr>
{EXPLODE}
<tr class="{class}">
	<td>{time}</td>
	<td><a href="{page}" target="_blank">{gegner}</a></td>
	<td>{team}</td>
	<td><a href="index.php?wars-more-{id}">{_lang_more}</a></td>
</tr>
{EXPLODE}
</table>
<br />
<br />
{EXPLODE}
<form action="?wars-last" method="POST">
<input type="hidden" name="che" value="1">
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
<tr class="Chead">
	<td colspan="3"><b>{_lang_lastwars}</b></td>
</tr>
<tr class="Cnorm">
	<td>Team:</td>
	<td colspan="2"><select name="tid"><option value="">----------</option> {tid}</select></td>
</tr>
<tr class="Cmite">
	<td>{_lang_result}:</td>
	<td colspan="2"><select name="wpl">
	<option value="">----------</option>
	<option value="1">{_lang_win}</option>
	<option value="2">{_lang_los}</option>
	<option value="3">{_lang_pat}</option>
	</select>
	</td>
</tr>
<tr class="Cnorm">
	<td>Game:</td>
	<td colspan="2"><select name="spiel"><option value="">----------</option> {game}</select></td>
</tr>
<tr class="Cmite">
	<td>Typ:</td>
	<td colspan="2"><select name="typ"><option value="">----------</option> {typ}</td>
</tr>
<tr class="Cnorm">
<td></td><td><input type="Submit" name="Go" value="Go"></td><td><a href="index.php?wars-last">Zeige alle {_lang_lastwars}</a></td>
</tr>
</table>
</form>
{EXPLODE}
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
<tr class="Chead">
	<td colspan="7"><b>{_lang_lastwars}</b></td>
</tr>
<tr class="Cdark">
	<td width="15%"><b>{_lang_date}</b></td>
	<td width="20%"><b>{_lang_opponent}</b></td>
	<td width="25%"><b>{_lang_squad}</b></td>
	<td width="15%"><b>{_lang_matchtype}</b></td>
	<td width="15%"><b>{_lang_result}</b></td>
	<td width="10%"><b>{_lang_more}</b></td>
</tr>
{EXPLODE}
<tr class="{class}">
	<td>{time}</td>
	<td><img src="include/images/flags/{land}" alt="" /> <a href="{page}" target="_blank">{gegner}</a></td>
	<td>{team}</td>
	<td>{mtyp}</td>
  <td><div style="border: solid #{farbe2} 1px; margin: 0px; background-color: #{farbe}; color:#000000">{erg}</div></td>
	<td><a href="index.php?wars-more-{id}">{_lang_more}</a></td>
</tr>
{EXPLODE}
</table>