<head>
    <meta http-equiv="refresh" content="{ZEIT}; URL={URL}">
</head>

<div class="ui-overlay">
    <div class="ui-widget-overlay">
    </div>
    <div style="width: 300px; height: auto; position: relative; left: 25%; top: 25%; z-index:1111; padding: 0.7em;" class="ui-widget ui-widget-content ui-corner-all">
        <center>
            <strong>
                {_lang_forwarding} in {ZEIT} {_lang_seconds}
            </strong>
        </center>
        <p >
            <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span> {TEXT}
        </p>
        <p>
            <strong>{LINK}</strong>
        </p>
    </div>
</div>