# Tmp Verzeichnisse
include/cache/*
include/backup/*
include/downs/*

# .gitignore niemals ausschlieﬂen
!.gitignore

# Backup-Verzeichnis beschr‰nken
!include/backup/bigdump.php

# Config und .htaccess
.htaccess
include/includes/config.php

# Zend Studio ausschlieﬂen
.settings
.buildpath
.project