# Tmp Verzeichnisse
include/cache/*
include/backup/*

# .gitignore niemals ausschlieﬂen
!.gitignore

# Backup-Verzeichnis beschr‰nken
!include/backup/bigdump.php

# Config und .htaccess
.htaccess
include/includes/config.php

# Zend Studio ausschlieﬂen
.settings
.buildpath
.project

# Dreamweaver und SVN ausschlieﬂen
_notes
.svn

# von Captcha erzeugte/ge‰nderte Dateien ignorieren
/include/includes/libs/captcha/txt/numbers.txt