# Tmp Verzeichnisse
include/cache/*
include/backup/*
backup/*

# .gitignore niemals ausschließen
!.gitignore

# Backup-Verzeichnis beschränken
!/include/backup/bigdump.php
!/include/backup/backup.class.php

# Config und .htaccess
.htaccess
include/includes/config.php

# Zend Studio ausschließen
.settings
.buildpath
.project

# Dreamweaver, Eclipse und SVN ausschließen
_notes
.svn

#Backup Dateien einiger Editoren ausschließen
*~

/include/includes/libs/captcha/txt/numbers.txt
/nbproject/private/