<form action="index.php?forum-editforum-{id}" method="POST">

    <table width="100%" border="0" cellspacing="1" cellpadding="5" class="border">
        <tr class="Chead">
            <th width="56%"><b>{_lang_topic}</b></th>
            <th width="7%" align="center"><b>{_lang_answers}</b></th>
            <th width="30%"><div align="center"><b>{_lang_update}</b></div></th>
                    <th></th>
        </tr>
        {EXPLODE}
        <tr>
            <td class="Cnorm"><a href="index.php?forum-showposts-{id}">{name}</a><br />
                <span class="smalfont">{_lang_author}: {erst}</span></td>
            <td align="center" class="Cmite">{rep}</td>
            <td align="center" class="Cnorm">{date}</td>
            <td class="Cdark"><input type="checkbox" name="in[{id}]" value="yes" /></td>
        </tr>
        {EXPLODE}
    </table>
    <input type="submit" name="del" value="{_lang_delete}" />
    <input type="submit" name="shift" value="{_lang_shift}" />
    <input type="submit" name="status" value="{_lang_status} {_lang_change}" />
</form>
{MPL}