<div style="float: right; text-align: right">Gesamt: {gAnz}</div><br /><br />

<div class="forum ui-corner-all">
<table width="100%" cellpadding="0" cellspacing="0" border="0" class="ilchbb_border">
{EXPLODE}
    <tr class="ilchbb_{class}">
        <td width="6%"><img src="include/images/forum_v12/{ORD}.gif" title="{TORD}" border="0" /></td>
        <td>{NPOS} <a href="index.php?{link}"><strong>{titel}</strong></a><br />{author}</td>
    </tr>
{EXPLODE}
</table>
</div>
{MPL}
{EXPLODE}
<br /><form action="index.php?forum-aeit" method="post"><input type="submit" value="{_lang_ownposts} {_lang_from} :" /> <input name="name" value="{name}" type="text" size="15" /> &nbsp; </form>