<h6>{CATNAME}</h6>

{NEWTOPIC}

<div class="mpl" style="float: right;">
    {MPL}
</div>

<br style="clear: both;" />

<div class="forum ui-corner-all">
    <table cellpadding="0" cellspacing="0" class="ilchbb_border" border="0">
        <tr>
            <th colspan="2" width="45%">
                {_lang_topic}
            </th>
            <th width="13%">
                <center>{_lang_answers}</center>
            </th>
            <th width="13%">
                <center>{_lang_hits}</center>
            </th>
            <th width="29%">
                {_lang_update}
            </th>
        </tr>
{EXPLODE}
        <tr class="{class}">
            <td width="6%">
                <img src="include/images/forum_v12/{ORD}.gif" title="{TORD}" border="0" />
            </td>
            <td class="top">
                {NPOS}<a href="index.php?forum-showposts-{id}">{name}</a><br />
                <span class="smalfont">{_lang_author}: {erst}</span>
            </td>
            <td class="middle xleft">
                <div class="center">
                    {rep}
                </div>
            </td>
            <td class="middle xright">
                <div class="center" style="border-right-width: 1px;">
                    {hit}
                </div>
            </td>
            <td width="29%" class="top smallfont">
                {date}<br />
                <a href="index.php?forum-showposts-{id}-p{page}#{pid}">
                    {_lang_lastfrom}: {last}
                    <img src="include/images/forum_v12/icon_topic_latest.gif" title="Letzter Beitrag" border="0" />
                </a>
            </td>
        </tr>
{EXPLODE}
    </table>
</div>

{NEWTOPIC}

<div class="mpl" style="float: right;">
    {MPL}
</div>

<br style="clear: both;" />

<br />
{EXPLODE}
<a href="index.php?forum-editforum-{id}">{_lang_editforum}</a>

<br />
<br />
{EXPLODE}