<table width="100%" border="0" cellspacing="0" cellpadding="5" class="rand">
  <tr class="Chead">
    <td>
	  <b>Willkommen bei ilchClan - Administration!</b>
	</td>
  </tr>
  <tr>
    <td class="Cnorm">
      <table width="100%">
	    <tr>
		  <td v width="100%">
            <br />
            <h3 style="display:inline;">Ein &Uuml;berblick &uuml;ber alle Inhalte</h3>
            <ul id="cpm" class="admix">
{EXPLODE}
              <li class="admix_box">{kat}<br />
                <ul>
{EXPLODE}
                  <li><a href="admin.php?{url}"><img src="{pic}" alt="">{name}</a></li>
{EXPLODE}
                  <br class="admix_last"/>
                </ul>
              </li>
{EXPLODE}
			</ul>
          </td>
		</tr>
	  </table>
    </td>
  </tr>
</table>