<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
	$("div#con_menu").hide();
	set_width(94);
</script>

<form action="admin.php?allg" method="POST">
  <div id="tabs">
    <ul>
{EXPLODE}
	  <li><a href="#tabs-{katid}">{katname}</a></li>
{EXPLODE}
	</ul>
{EXPLODE}
	<div id="tabs-{katid}">
	  <table cellpadding="3" cellspacing="1" class="border" border="0" width="100%">
        <tr>
		  <td colspan="2" class="Cdark">
		    <b>{kat}</b>
		  </td>
		</tr>
{EXPLODE}
        <tr>
		  <td class="Cmite" width="50%">
		    {frage}
		  </td>
          <td class="Cnorm">
		    {input}
		  </td>
		</tr>
{EXPLODE}
      </table>
	</div>
{EXPLODE}
	<br />
	<table cellpadding="3" cellspacing="1" class="border" border="0" width="100%">
      <tr class="Cdark">
	    <td colspan="2" style="text-align: right;">
		  <input class="sub" type="submit" value="Alle &Auml;nderungen speichern" name="submit">
		  <input class="sub" type="reset" value="Zur&uuml;cksetzen">
		</td>
      </tr>
	</table>
  </div>
</form>
