<a href="include/backup/bigdump.php">Backup mit BigDump importieren</a>
<form action="admin.php?backup" method="POST">
  <input type="hidden" name="sendBackup" value="yes" />
    <table cellpadding="0" cellspacing="1" border="0" >
      <tr>
        <td>
        <div class="warning_box">
        <p><b>Beachten:</b> es kann keine Garantie daf&uuml;r &uuml;bernommen werden, dass dieses Script immer einwandfrei funktioniert und alle Daten aus der Datenbank korrekt gespeichert werden!</p>
        <p>Vor dem Wiedereinspielen dieses Backups m&uuml;ssen alle bestehenden Tabellen gel&ouml;scht werden damit sie vom Backup angelegt werden.</p>
        </div>
      </td>
    </tr><tr>
      <td class="Cnorm">&nbsp;</td>
    </tr><tr>
      <td class="Cnorm"><label for="drop">Vorhandene Tabellen beim Import l&ouml;schen</label> <input type="checkbox" name="drop" checked="checked"> (ben&ouml;tigt um mit ilch wieder einzuspielen)</td>
    </tr><tr>
      <td class="Cnorm">Ausgabecodierung: <input name="cod" type="radio" value="utf8" checked="checked"> UTF-8</td>
    </tr><tr>
      <td class="Cnorm">Backup per eMail versenden
        <input type="radio" name="backuptype" value="download"> 
        <br />
        Backup im Backupverzeichnis erstellen
<input type="radio" name="backuptype" value="backupdir" /> 
<br />
beides
<input name="backuptype" type="radio" value="both" checked="checked" /></td>
    </tr><tr>
      <td class="Cnorm"><input type="checkbox" name="gelesen" value="yes" id="gelesen" /><label style="cursor: pointer;" for="gelesen">Ich habe den Text gelesen und verstanden!</label></td>
    </tr><tr>
      <td class="Cdark"><input id="backitup" name="backitup" class="sub" type="submit" value="Backup erstellen" /></td>
    </tr>
  </table>
</form>