<p><img src="include/images/icons/admin/credits.png" /></p>
<h3>ilch-Script-Credits</h3>
<p></p>
<table border="0" align="center" style="width:75% !important; {ilchtablestyle}">
  <tr >
    <td width="40%"><strong>Name</strong></td>
    <td width="20%"><strong>Version</strong></td>
    <td width="20%"><strong>Autor</strong></td>
    <td width="20%"><strong>Lizenz</strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
	{ilchcredits}
</table>
<p>&nbsp;</p>
<h3>Modul-Credits</h3>
<p>&nbsp;</p>
<table border="0" align="center" style="width:75% !important; {modtablestyle}">
  <tr>
    <td width="40%"><strong>Name</strong></td>
    <td width="20%"><strong>Version</strong></td>
    <td width="20%"><strong>Autor</strong></td>
    <td width="20%"><strong>Lizenz</strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    {modcredits}
  </tr>
</table>
<p>&nbsp;</p>
<h3>Grafik- und Bildverzeichnis</h3>
<p>&nbsp;</p>
<table border="0" align="center" style="width:75% !important; {modtablestyle}">
    <tr>
        <td width="40%"><strong>Name</strong></td>
        <td width="20%"><strong>Version</strong></td>
        <td width="20%"><strong>Autor</strong></td>
        <td width="20%"><strong>Lizenz</strong></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr> {gfxcredits} </tr>
</table>
<p></p>
