<p><img src="include/images/icons/admin/credits.png" />
</p><h3>ilch-Script-Credits</h3><p></p>
<table border="0" align="center" style="width:75% !important; {ilchtablestyle}">
  <tr>
    <td><strong>Name</strong></td>
    <td><strong>Version</strong></td>
    <td><strong>Autor</strong></td>
    <td><strong>Lizenz</strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
	{ilchcredits}
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p></p><h3>Modul-Credits</h3><p></p>
<table border="0" align="center" style="width:75% !important; {modtablestyle}">
  <tr>
    <td><strong>Name</strong></td>
    <td><strong>Version</strong></td>
    <td><strong>Autor</strong></td>
    <td><strong>Lizenz</strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    {modcredits}
  </tr>
</table>
<p></p>
