<script src="./include/includes/js/jquery/jquery.validate.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {		   
        $("#validate").validate({
            rules: {			
                name: { required: true, minlength: 2 },
                mail: { required: false, email: true },
                page: { required: false, url: true },
                txt: { required: true }
            },
            messages: {
                name: { required: "Bitte Name eingeben!", minlength: "Der Name muss mindestens 2 Zeichen haben!" },
                mail: "Bitte eine g&uuml;ltige Emailadresse eingeben!",
                page: "Bitte eine g&uuml;ltige Internetadresse eingeben!",
                txt: "Bitte gib ein Text ein!"
            }
        });
    });
</script>
<noscript>Bitte JavaScript aktivieren</noscript>
<script language="JavaScript" type="text/javascript">
    <!--
    function delcheck ( DELID ) {
        var frage = confirm ( unescape ( "Willst%20du%20diesen%20Eintrag%20wirklich%20l%F6schen%3F" ));
        if ( frage == true ) { document.location.href="admin.php?gbook-del-"+DELID; }
    }
    //-->
</script>

<table width="100%" border="0" cellpadding="5" cellspacing="1">
    <tr>
        <td width="40%" valign="top">
            <form action="admin.php?gbook-edit-{id}" method="POST" id="validate" name="form">
                {ANTISPAM}
                {EXPLODE "preview"}
                <table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
                    <tr>
                        <td class="Chead"><b>{_lang_preview}</b></td>
                    </tr>
                    <tr class="Cnorm">
                        <td>{TEXT}</td>
                    </tr>
                </table><br />
                {EXPLODE "insert_start"}
                <table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
                    <thead>
                        <tr class="Chead">
                            <td colspan="2">Eintrag</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="Cmite">Name</td>
                            <td class="Cnorm"><input size="40" name="name" value="{name}" /></td>
                        </tr>
                        <tr>
                            <td class="Cmite">eMail</td>
                            <td class="Cnorm"><input size="40" name="mail" value="{mail}" /></td>
                        </tr>
                        <tr>
                            <td class="Cmite">Page</td>
                            <td class="Cnorm"><input size="40" name="page" value="{page}" /></td>
                        </tr>
                        <tr>
                            <td class="Cmite">BBcode</td>
                            <td class="Cnorm"><div style="width:350px">{__BBCodeButtons__}</div></td>
                        </tr>
                        <tr>
                            <td class="Cmite">Text</td>
                            <td class="Cnorm"><textarea cols="40" rows="6" name="txt">{text}</textarea></td>
                        </tr>
                        <tr>
                            <td class="Cmite"></td>
                            <td class="Cnorm"><input class="sub" type="submit" value="{sub}" name="sub">  &nbsp; <input name="preview" class="sub" type="submit" value="{_lang_preview}" /></td>
                        </tr>
                    </tbody>
                </table>
                {EXPLODE "insert_end"}
            </form>
        </td>
        <td width="60%" valign="top">
            <table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
                <thead>
                    <tr class="Chead">
                        <td colspan="3">Optionen</td>
                        <td width="100">Name</td>
                        <td width="100">IP</td>
                        <td width="130">Datum - Zeit</td>
                        <td>Text</td>
                    </tr>
                </thead>
                <tbody>
                    {EXPLODE "liste_start"}
                    <tr class="{class}">
                        <td width="20" align="center"><a href="admin.php?gbook-show-{id}"><img src="include/images/icons/{showimg}" title="{showtxt}" /></a></td>
                        <td width="20" align="center">
                            <form action="admin.php?gbook-edit-{id}" method="POST" name="form">
                                <input type="hidden" name="preview1" value="{_lang_preview}" />
                                <input type="image" src="include/images/icons/image.png" alt="anzeigen" title="anzeigen" style="margin:0;padding:0;border:none" />
                            </form>
                        </td>
                        <td width="20" align="center"><a href="javascript:delcheck({id})" title="löschen"><img src="include/images/icons/del.png"></a></td>
                        <td><b><a href="mailto:{mail}">{name}</a></b></td>
                        <td>{ip}</td>
                        <td>{datum}</td>
                        <td><span class="smalfont">{text}</span></td>
                    </tr>
                    {EXPLODE "liste_end"}
                </tbody>
            </table>
            {MPL}
        </td>
    </tr>
</table>