<!-- Kalender Script © by Nickel -->
<script language="JavaScript" type="text/javascript">
<!--
function delcheck ( DELID, GID ) {
  if (GID != 0) {
    var frage1 = confirm ("ALLE Zugehoerigen Termine mitloeschen?");
    if (frage1 == true) {
      document.location.href="admin.php?kalender&del_gid="+GID;
      return (true);
    }
  }
	var frage = confirm ( "Willst du diesen Termin wirklich loeschen?" );
	if ( frage == true ) {
		document.location.href="admin.php?kalender&del="+DELID;
    return (true);
	}
  
  return (false);
}
function setzende ( s ) {
  document.form.zende.value = s;
  document.getElementById('skalenderzende').style.display = "none";
}
function setbegind ( s ) {
  document.form.begind.value = s;
  document.form.begind.focus();
  document.getElementById('skalenderbegind').style.display = "none";
}
function closezende () {
  document.getElementById('skalenderzende').style.display = "none";
}
function closebegind () {
  document.getElementById('skalenderbegind').style.display = "none";
}
//-->
</script>
<table width="99%" border="0" cellspacing="1" cellpadding="5">
<tr> 
	<td valign="top"> 
		<form action="admin.php?kalender" method="POST" name="form">
		<input type="hidden" name="um" value="{AKTION}">
		<input type="hidden" name="EID" value="{EID}">
				
		<script type='text/javascript' src='include/includes/js/bbcode.js'></script>
					
		<table cellpadding="2" cellspacing="1" border="0" class="border">
		<tr> 
			<td class="Cmite" align="right"><strong>Titel : &nbsp;</strong></td>
			<td class="Cnorm"><input size="50" type="text" name="title" value="{TITLE}"></td>
		</tr>
		<tr> 
			<td align="right" valign="top" rowspan="2" class="Cmite"><strong>Text : &nbsp;</strong></td>
			<td class="Cnorm">
				<!-- BB Code START -->
	    <a href="javascript:simple('b')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.bold.gif" alt="b" title="{_lang_bold}" border="0"></a>
      <a href="javascript:simple('i')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.italic.gif" alt="i" title="{_lang_italic}" border="0"></a>
      <a href="javascript:simple('u')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.underline.gif" alt="u" title="{_lang_underlined}" border="0"></a>
      <a href="javascript:simple('code')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.code.gif" alt="Code" title="{_lang_code}" border="0"></a>
	    <a href="javascript:simple_liste()"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.insertunorderedlist.gif" alt="{_lang_list}" title="{_lang_list}" border="0"></a>
      <a href="javascript:simple('url')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.link.gif" alt="Url" title="{_lang_link}" border="0"></a>
      <a href="javascript:simple('img')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.image.gif" alt="{_lang_picture}" title="{_lang_picture}" border="0"></a>
				<!-- BB Code ENDE-->
      </td></tr>
      <td class="Cnorm"><textarea cols="60" rows="13" name="txt">{TEXT}</textarea></td>
		</tr>
		<tr> 
			<td align="right" class="Cmite"><strong>Datum : &nbsp;</strong></td>
			<td class="Cnorm">
      <input value="{begind}" name="begind" size="12" maxlength="10" onClick="xajax_XAJAX_showCalendar('','','begind')" /> 
      um <select id="stunde" name="stunde">{_list_stunden@<option%1 value="%2">%3</option>}</select><b>:</b><select id="minute" name="minute">{_list_minuten@<option%1 value="%2">%3</option>}</select> Uhr

      
			</td>
		</tr>
    
    {EXPLODE}
    
		<tr> 
			<td align="right" class="Cmite"><strong>Zyklus : &nbsp;</strong></td>
			<td class="Cnorm"> 
      
      <select name="zyklus">
        <option></option>
        <option value="wer">werktags</option>
        <option value="wek">wochenende</option>
        <option value="woc">wöchentlich</option>
        <option value="14t">14 täglich</option>
        <option value="mon">monatlich</option>
        <option value="jae">jährlich</option>
      </select>
      
      &nbsp; Ende: <input value="{zende}" name="zende" size="12" maxlength="10" onClick="xajax_XAJAX_showCalendar('','','zende')" />

      </td>
		</tr>
    
    {EXPLODE}
    
    <tr>
      <td nowrap align="right" class="Cmite"><strong>Im Verbund : &nbsp;</strong></td>
      <td class="Cnorm"><input type="checkbox" id="gid" name="gid" value="yes" /> <label for="gid" style="cursor: pointer;" class="smalfont">Diesen Termin im Verbund aendern, daher alle Zugehoerigen Termine mitaendern.</label></td>
    </tr>
    
    {EXPLODE}
    
		<tr> 
			<td align="right" class="Cmite"><strong>Sichtbar ab : &nbsp;</strong></td>
			<td class="Cnorm"> 
				<select name="recht">
				{_list_recht@<option%1 value="%2">%3</option>}
				</select>
			</td>
		</tr>
		<tr> 
			<td class="Cmite"></td>
			<td class="Cnorm"><input class="sub" type="submit" value="{FSUB}" name="submit"></td>
		</tr>
		</table>
		</form>
	</td>
	<td class="Cmite" width="30%" valign="top">
		{MPL}
		<table width="100%" cellpadding="4" cellspacing="1" border="0" class="border">
		{EXPLODE}
		<tr class="Cnorm">
			<td><a href="#" onClick="return delcheck({ID},{GID})"><img src="include/images/icons/del.gif" alt="L&ouml;schen" title="L&ouml;schen" border="0"></a></td>
      <td><a href="?kalender&edit={ID}"><img src="include/images/icons/edit.gif" alt="Ver&auml;ndern" title="Ver&auml;ndern" border="0"></a></td>
			<td class="smalfont">{TITLE} # Am {DATE} um {TIME}</td>
		</tr>
		{EXPLODE}
		</table>
		{MPL}
	</td>
</tr>
</table>

<div id="skalenderbegind" style="position:absolute; top:200px; left:170px; display:none; width:200px;"></div>
      <div id="skalenderzende" style="position:absolute; top:220px; left:330px; display:none; width:200px;"></div>
<br /><center><font class="smalfont">[ Kalender Script &copy; by Nickel ]</font></center>
<!-- Kalender Script © by Nickel -->
