<script type="text/javascript">
function checkEmail(){
	var v = document.forms['newsletter'].elements['auswahl'].value;
	var e = document.getElementById('cb_html_cont');
	if (v.match(/^E/)) {
		e.style.display = '';
	} else {
		e.style.display = 'none';
	}
}
</script>
<table cellpadding="0" cellspacing="0" border="0"><tr><td><img src="include/images/icons/admin/newsletter.png" /></td><td width="30"></td><td valign="bottom"><h1>Newsletter</h1></td></tr></table>
<form action="admin.php?newsletter" method="post" name="newsletter">
{antispam}
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
    <tr>
        <td colspan="2" height="25" class="Cdark">Hier kannst du einen Newsletter verschicken!</td>
    </tr>
    <tr>
        <td class="Cmite" style="font-weight:bold;">Empf&auml;nger</td>
        <td class="Cnorm"><input type="radio" name="tempRecipients" onClick="xajax_XAJAX_changeList('Normal')" /> Normal&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="tempRecipients" onClick="xajax_XAJAX_changeList('Grundrechte')" /> nach Rechten</td>
    <tr>
      <td class="Cmite" style="font-weight:bold;">Ausw&auml;hlen</td>
      <td class="Cnorm" id="list">
			    <select name="auswahl">
                        <option selected="selected" disabled="disabled">Bitte erst den Empf&auml;nger ausw&auml;hlen</option>
			    </select>
			</td>
    </tr>
    <tr>
      <td class="Cmite" style="font-weight:bold;">Betreff</td>
      <td class="Cnorm">
        <input type="text" name="bet" size="50">
      </td>
    </tr>
    <tr>
      <td class="Cmite" valign="top" style="font-weight:bold;">Text</td>
      <td class="Cnorm">
        <textarea cols="75" rows="25" name="txt"></textarea>
      </td>
    </tr>
    <tr class="Cdark">
      <td>&nbsp;</td>
      <td>
        <span id="cb_html_cont" style="display:none;"><input type="checkbox" name="html" id="cb_html"><label for="cb_html">E-Mail als HTML senden</label></span>
        <input type="submit" value="Absenden" name="SEND" />
      </td>
    </tr>
  </table>
</form>