<script language="JavaScript" type="text/javascript">
<!--
  function delcheck ( DID ) {
    var frage = confirm ( "Willst du dieses Feld und die Werte der User wirklich unwiederbringlich löschen?" );
    if ( frage ) {
      document.location.href="?profilefields-delete-"+DID;
    }
  }
//-->
</script>

<table><tr><td v>
<form action="admin.php?profilefields" method="POST">
  <input type="hidden" name="sid" value="{sid}" />
  <table cellspacing="1" cellpadding="3" class="border">
    <tr>
	    <th class="Chead" colspan="2"><b>neues Profilefeld</b></th>
		</tr><tr>
	    <td class="Cmite">Name</td>
			<td class="Cnorm"><input type="text" name="show" value="{show}"></td>
		</tr><tr>
	    <td class="Cmite">Funktion</td>
			<td class="Cnorm"><select name="func">{_list_func@<option%1 value="%2">%3</option>}</select></td>
		</tr><tr>
		  <td class="Cdark"></td>
			<td class="Cdark"><input class="sub" type="submit" value="{sub}" name="sub"></td>
	  </tr>
  </table>
</form>
</td><td>&nbsp;&nbsp;&nbsp;</td><td v>
<table cellspacing="1" cellpadding="3" class="border">
  <tr class="Chead">
		<th colspan="7">Profilfelder verwalten
	</tr>
	{EXPLODE}
	<tr class="{CLASS}">
		<td>{show}</td>
		<td align="center">{func}</td>
		<td><a href="?profilefields-edit-{id}">&auml;ndern</a></td>
		<td><a href="javascript:delcheck({id})">l&ouml;schen</a></td>
		<td><a href="?profilefields-o-{id}-{pos}"><img src="include/images/icons/pfeilo.png" border="0"></a></td>
		<td><a href="?profilefields-u-{id}-{pos}"><img src="include/images/icons/pfeilu.png" border="0"></a></td>
	</tr>
{EXPLODE}
</table>
</td></tr></table>