<table cellpadding="0" cellspacing="0" border="0"><tr><td><img src="include/images/icons/admin/ranks.png" /></td><td width="30"></td><td valign="bottom"><h1>Ranks</h1></td></tr></table>
<table cellspacing="1" cellpadding="5" broder="0" class="border">
  <tr class="Chead">
		<td>Rank Bezeichnung</td>
		<td>Ab X Posts</td>
		<td>Spezialrang</td>
		<td></td>
		<td></td>
	</tr>
	{EXPLODE}
	<tr class="{CLASS}">
		<td>{BEZ}</td>
		<td align="center">{MIN}</td>
		<td align="center">{SPEZ}</td>
		<td><a href="?range-2-{ID}">Bearbeiten</a></td>
		<td><a href="?range-1-{ID}">L&ouml;schen</a></td>
	</tr>

{EXPLODE}
  <tr class="Cdark">
	  <td colspan="5" height="50" align="center"><input type="button" value="Neuen Rang eintragen" onClick="document.location.href='?range-2'"></td>
  </tr>
</table>



{EXPLODE}

<form action="admin.php?range-2" method="POST">

<input type="hidden" name="rid" value="{RID}">
<input type="hidden" name="akt" value="{AKT}">

  <table cellspacing="1" cellpadding="5" broder="0" class="border">
    <tr>
	    <td class="Chead" colspan="2">Rank - Administration</td>
		</tr><tr>
	    <td class="Cmite">Rankname</td>
			<td class="Cnorm"><input type="text" name="bez" value="{BEZ}"></td>
		</tr><tr>
	    <td class="Cmite">Ab X Posts</td>
		  <td class="Cnorm"><input type="text" name="min" value="{MIN}"></td>
	  </tr><tr>
	    <td class="Cmite">Spezialrang</td>
		  <td class="Cnorm"><input type="radio" value="1" name="spez" {JCH}> Ja &nbsp; <input type="radio" value="0" name="spez" {NCH}> Nein</td>
	  </tr><tr>
		  <td class="Cdark"></td>
			<td class="Cdark"><input type="submit" value="{SUB}" name="sub"></td>
	  </tr>
  </table>

</form>
<br />

<b>Merke</b><br /> 

- Ab X Posts wird der dazu geh&ouml;rige Rangname benutz bis die n&auml;chste Ab Zahl erreicht wird usw.
<br />
- Spizalrangs kannst du f&uuml;r besondere Benutzer festlegen. Die R&auml;nge kannst du sp&auml;ter dann vergeben.