<table cellspacing="1" cellpadding="5" border="0" class="border">
  <tr class="Chead">
    <td>Rank Bezeichnung</td>
    <td>Ab X Posts</td>
    <td>Spezialrang</td>
    <td></td>
    <td></td>
  </tr>
  {EXPLODE}
  <tr class="{CLASS}">
    <td>{BEZ}</td>
    <td align="center">{MIN}</td>
    <td align="center">{SPEZ}</td>
    <td><a href="?range-2-{ID}">Bearbeiten</a></td>
    <td><a href="?range-1-{ID}">L&ouml;schen</a></td>
  </tr>
  {EXPLODE}
  <tr class="Cdark">
    <td colspan="5" height="50" align="center"><input class="sub" type="button" value="Neuen Rang eintragen" onClick="document.location.href='?range-2'"></td>
  </tr>
</table>
{EXPLODE}
<script src="./include/includes/js/jquery/jquery.validate.js" type="text/javascript"></script>
<script>
$(document).ready(function() {		   
	$("#validate").validate({
		rules: {			
			bez: { required: true, minlength: 2 },
			min: { required: true, number: true }
		},
		messages: {
			bez: { required: "Bitte gib ein Name an!", minlength: "Der Name muss mindestens 2 Zeichen haben!" },
			min: { required: "Bitte gib die Menge der Posts an!", number: "Die Wert muss eine Zahl sein!" }
		}
	});
});
</script>
<noscript>Bitte JavaScript aktivieren</noscript>
<form action="admin.php?range-2" method="POST" id="validate">
{ANTISPAM}
<input type="hidden" name="rid" value="{RID}">
<input type="hidden" name="akt" value="{AKT}">
  <table cellspacing="1" cellpadding="5" border="0" class="border">
    <tr>
      <td class="Chead" colspan="2">Rank - Administration</td>
    </tr><tr>
      <td class="Cmite">Rankname</td>
      <td class="Cnorm"><input type="text" name="bez" value="{BEZ}"></td>
    </tr><tr>
      <td class="Cmite">Ab X Posts</td>
      <td class="Cnorm"><input type="text" name="min" value="{MIN}"></td>
    </tr><tr>
      <td class="Cmite">Spezialrang</td>
      <td class="Cnorm"><input type="radio" value="1" name="spez" {JCH}> Ja &nbsp; <input type="radio" value="0" name="spez" {NCH}> Nein</td>
    </tr><tr>
      <td class="Cdark"></td>
      <td class="Cdark"><input class="sub" type="submit" value="{SUB}" name="sub"></td>
    </tr>
  </table>
</form>
<br />
<div class="info_box">
  <ul>
    <li>Ab X Posts wird der dazu geh&ouml;rige Rangname benutz bis die n&auml;chste Ab Zahl erreicht wird usw.</li>
    <li>Spizalrangs kannst du f&uuml;r besondere Benutzer festlegen. Die R&auml;nge kannst du sp&auml;ter dann vergeben.</li>
  </ul>
</div>