<form action="admin.php?trains" method="POST">
<input type="hidden" name="send" value="1">
<table cellspacing="1" cellpadding="2" broder="0" class="border">
<tr class="Chead">
	<td colspan="2"><b>Trainingszeiten - Administration</b></td>
</tr><tr>
	<td class="Cmite">Montag:</td>
	<td class="Cnorm"><textarea cols="40" rows="3" name="mon">{MON}</textarea></td>
</tr><tr>
	<td class="Cmite">Dienstag:</td>
	<td class="Cnorm"><textarea cols="40" rows="3" name="die">{DIE}</textarea></td>
</tr><tr>
	<td class="Cmite">Mittwoch:</td>
	<td class="Cnorm"><textarea cols="40" rows="3" name="mit">{MIT}</textarea></td>
</tr><tr>
	<td class="Cmite">Donnerstag:</td>
	<td class="Cnorm"><textarea cols="40" rows="3" name="don">{DON}</textarea></td>
</tr><tr>
	<td class="Cmite">Freitag:</td>
	<td class="Cnorm"><textarea cols="40" rows="3" name="fre">{FRE}</textarea></td>
</tr><tr>
	<td class="Cmite">Samstag:</td>
	<td class="Cnorm"><textarea cols="40" rows="3" name="sam">{SAM}</textarea></td>
</tr><tr>
	<td class="Cmite">Sonntag:</td>
	<td class="Cnorm"><textarea cols="40" rows="3" name="son">{SON}</textarea></td>
</tr><tr>
	<td class="Cdark"></td>
	<td class="Cdark"><input type="submit" value="&Auml;ndern" name="sub"></td>
</tr>
</table>
</form>
