<a href="javascript:history.back(1)"><b>&laquo;</b> {_lang_back}</a>
<br />
<br />
<table width="100%" cellpadding="3" cellspacing="1" class="border">
  <tr class="Chead"> 
    <th colspan="3"><b>{_lang_detailsfrom} {NAME}</b></th>
  </tr><tr>
    <td class="Cmite" width="30%">{_lang_nickname}</td>
    <td class="Cnorm" width="40%">{NAME}</td>
    <td class="Cnorm" width="30%" rowspan="{rowspan}" align="center">{AVATA}<br /><br /><font class="smalfont">{RANG}</font></td>
  </tr>
  {SPERRE}
  <tr>
    <td class="Cmite">{_lang_regsince}</td>
    <td class="Cnorm">{JOINED}</td>
  </tr><tr>
    <td class="Cmite">{_lang_lastactivity}</td>
    <td class="Cnorm">{LASTAK}</td>
  </tr><tr>
    <td class="Cmite">{_lang_posts2}</td>
    <td class="Cnorm">{POSTS}, {_lang_perday}: {postpday}</td>
  </tr>
{profilefields}
</table>
<br />
<a href="javascript:history.back(1)"><b>&laquo;</b> {_lang_back}</a>