body {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: \"Lucida Grande\",Helvetica,Arial,Verdana,sans-serif;
	}

#calendar {
	width: 900px;
	margin: 0 auto;
	}
	
	#loading {
		position: absolute;
		top: 5px;
		right: 5px;
		}
