<div style="width:50%; float:left;"><span>{_lang_whole}:</span></div>
<div style="margin-left:50%;"><b>{ges_visits}</b></div>
<div style="clear:left;"></div>

<div style="width:50%; float:left;"><span>{_lang_today}:</span></div>
<div style="margin-left:50%;"><b>{ges_heute}</b></div>
<div style="clear:left;"></div>

<div style="width:50%; float:left;"><span>{_lang_yesterday}:</span></div>
<div style="margin-left:50%;"><b>{ges_gestern}</b></div>
<div style="clear:left;"></div>

<div style="width:50%; float:left;"><span>Online:</span></div>
<div style="margin-left:50%;"><b>{ges_online}</b></div>
<div style="clear:left;"></div>

<a class="box" href="index.php?statistik"><i>... {_lang_more}</i></a>