<div style="width:85%; float:left;"><span>News:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{news}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Gästebuch:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{gbook}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Downloads:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{downs}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Kommentare:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{koms}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Allianz Einträge:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{partner}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Gespielte Wars:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{wars}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Forum Themen:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{topic}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Forum Einträge:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{posts}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Bilder in Galeriebilder:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{gallery}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Bilder in Usergalerien:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{usergallery}</b></div>
<div style="clear:left;"></div>