<div style="width:85%; float:left;"><span>{_lang_whole}:</span></div>
<div style="margin-left:85%; text-align:right; text-align:right;"><b>{ges_visits}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>{_lang_today}:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{ges_heute}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>{_lang_yesterday}:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{ges_gestern}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>&Oslash; pro Tag:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{day_visits}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Online:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{ges_online}</b></div>
<div style="clear:left;"></div>

<a class="box" href="index.php?statistik"><i>... {_lang_more}</i></a>