<div style="width:85%; float:left;"><span>Gesamte Community:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{gesCom}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Member gesamt:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{gesMember}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Member aktiv:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{gesAktiv}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Member inaktiv:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{gesInaktiv}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>User gesamt:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{gesUser}</b></div>
<div style="clear:left;"></div>



<div style="width:85%; float:left;"><span>M&auml;nner:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{gesM}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Frauen:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{gesW}</b></div>
<div style="clear:left;"></div>

<div style="width:85%; float:left;"><span>Egal:</span></div>
<div style="margin-left:85%; text-align:right;"><b>{gesE}</b></div>
<div style="clear:left;"></div>