<script language="JavaScript" type="text/javascript"><!--
	function delid ( DELID ) {
		var frage = confirm ( "Willst Du diesen Menuepunkt wirklich loeschen?" );
		if ( frage == true ) {
		  document.location.href="?modules-adminmenu-del-"+DELID;
		}
	}

	function sichtbar(){
		if( document.form.kat.value=="neu"){
		  document.form.newkat.style.visibility="visible";
		} else {
		  document.form.newkat.style.visibility="hidden";
	  }
	}
//--></script>

<table style="text-align: left;" border="0"
 cellpadding="5" cellspacing="0">
  <tbody>
    <tr>
      <td style="width: 100%;" valign="top">
			<table cellpadding="3" cellspacing="1" class="border" border="0" style="width: 100%;">
{EXPLODE}
</table>
		</td>
		<td width="30">
			&nbsp;
		</td>
		<td valign="top">
{EXPLODE}
		</td>
	</tr>
</table>
{EXPLODE}
	<tr>
		<th class="Chead" colspan="2">
			{kat}
		</th>
		<th class="Chead" colspan="1">
			Standard-URL: {url}
		</th>
	</tr>
{EXPLODE}
	<tr class="{class}" >
		<td valign="top" style="width: 60px;" align="center">
			<a href="admin.php?modules-adminmenu-edit-{id}"><img src="include/images/icons/edit.gif" border="0" title="&auml;ndern" alt="&auml;ndern" /></a>
			<a href="javascript:delid({id})"><img src="include/images/icons/del.gif" border="0" title="l&ouml;schen" alt="l&ouml;schen" /></a>
			<a href="?modules-adminmenu-O{id}-{pos}"><img src="include/images/icons/pfeilo.gif" border="0" title="oben" alt="oben"></a>
			<a href="?modules-adminmenu-U{id}-{pos}"><img src="include/images/icons/pfeilu.gif" border="0" title="unten" alt="unten"></a>
		</td>
		<td valign="top" width="45%">
			{name}
		</td>
		<td>{url}</td>
	</tr>
{EXPLODE}
<form name="form" method="post">
<table cellpadding="3" cellspacing="1" class="border" border="0" style="width: 100%;">
  <tbody>
    <tr>
      <th class="Chead" colspan="2" rowspan="1">{aname}</td>
    </tr>
    <tr>
      <td class="Cmite">Modul:</td>
      <td class="Cnorm"><select name="modul">{modul}</select></td>
    </tr>
    <tr>
      <td class="Cmite">Kategorie:</td>
      <td class="Cnorm">
	  <select onChange="sichtbar()" name="kat">{kat}<option value="neu">Neu:</option></select>&nbsp;&nbsp;<input type="text" name="newkat" size="40" />
      </td>
    </tr>
    <tr>
      <td class="Cdark" colspan="2" rowspan="1"><input name="pos" value="{pos}" type="hidden"><input type="submit" value="Speichern" name="submit"></td>
    </tr>
  </tbody>
</table>
</form>
<br />
<div class="info_box">
				<b>Informationen zu dieser Funktion</b>
				<br />
				<span class="smalfont">
					Hier kannst Du die Navigation vom AdminControlPanel (ACP) bearbeiten,
					um so f&uuml;r Dich eine inviduelle Oberfl&auml;che zu
					schaffen. Auf dieser Weise kannst Du oft benutzte Module ganz nach
					vorne in die Navigation holen. Das L&ouml;schen aller Module hat
					die Folge, dass das Men&uuml; nicht mehr angezeigt wird.
				</span>
</div>

<script language="JavaScript" type="text/javascript">
<!--
  sichtbar();
//-->
</script>