<script language="JavaScript" type="text/javascript"><!--
	function delid ( DELID ) {
		var frage = confirm ( "Bist Du Dir sicher, dass Du diesen Eintrag loeschen moechtest?" );
		if ( frage == true ) {
		  document.location.href="?modules-loader-del-"+DELID;
		}
	}
	function sichtbar(){
		if( document.form.task.value=="neu"){
		  document.form.newtask.style.visibility="visible";
		} else {
		  document.form.newtask.style.visibility="hidden";
	  }
	}
//--></script>

<table style="text-align: left;" border="0"
 cellpadding="5" cellspacing="0">
  <tbody>
    <tr>
      <td style="width: 100%;" valign="top">
			<table cellpadding="3" cellspacing="1" class="border" border="0" style="width: 100%;">
{EXPLODE}
</table>
		</td>
		<td width="30">
			&nbsp;
		</td>
		<td valign="top">
{EXPLODE}
		</td>
	</tr>
</table>
{EXPLODE}
	<tr class="Chead">
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>task</th>
		<th>file</th>
		<th>Info</th>
	</tr>
{EXPLODE}
	<tr class="{class}" >
		<td><a href="admin.php?modules-loader-edit-{id}"><img src="include/images/icons/edit.png" border="0" title="&auml;ndern" alt="&auml;ndern" /></a></td>
		<td><a href="javascript:delid({id})"><img src="include/images/icons/del.png" border="0" title="l&ouml;schen" alt="l&ouml;schen" /></a></td>
		<td><a href="?modules-loader-O{pos}"><img src="include/images/icons/pfeilo.png" border="0" title="oben" alt="oben"></a></td>
		<td><a href="?modules-loader-U{pos}"><img src="include/images/icons/pfeilu.png" border="0" title="unten" alt="unten"></a></td>
		<td>{task}</td>
		<td>{file}</td>
		<td>more</td>
	</tr>
{EXPLODE}
<form name="form" method="post">
<table cellpadding="3" cellspacing="1" class="border" border="0" style="width: 100%;">
  <tbody>
    <tr>
      <th class="Chead" colspan="2" rowspan="1">{aname}</td>
    </tr>
    <tr>
      <td class="Cmite">task:</td>
      <td class="Cnorm">
	  <select onChange="sichtbar()" name="task">{task}<option value="neu">Neu:</option></select>&nbsp;&nbsp;<input type="text" name="newtask" size="40" />
      </td>
    </tr>
    <tr>
      <td class="Cmite">file:</td>
      <td class="Cnorm"><input type="text" name="file" size="40" value="{file}" /></td>
    </tr>
    <tr>
      <td class="Cmite">description:</td>
      <td class="Cnorm"><textarea cols="40" rows="5" name="description">{description}</textarea></td>
    </tr>
    <tr>
      <td class="Cdark" colspan="2" rowspan="1"><input type="submit" value="Speichern" name="submit"></td>
    </tr>
  </tbody>
</table>
</form>
<br />
<div class="warning_box">
				<b>Wichtige Hinweise</b>
				<br />
				<span class="smalfont">
					Das bearbeiten der Eintr&auml;ge sollte nicht ohne gewisse
					Vorkenntnisse oder Aufforderung geschehen. Bei falscher Bedienung kann es
					zu Fehlern kommen.
				</span>
</div>
<div class="info_box">
				<b>Informationen zur Tabelle prefix_modules</b>
				<br />
				<span class="smalfont">
					In dieser Tabelle sind alle Module eingetragen, f&uuml;r die es ein
					Adminbereich gibt oder f&uuml;r die Rechte verteilt werden
					m&uuml;ssen.<br/>
					<br/>
					<span style="font-weight: bold; font-style: italic;">name</span><br/>
					Name, der im Adminbereich in der Navigation erscheint und bei der
					Rechtvergabe<br/>
					<br/>
					<span style="font-weight: bold; font-style: italic;">url</span><br/>
					Ist die URL zum Modul &uuml;ber den Adminbereich<br/>
					<br/>
					<span style="font-weight: bold; font-style: italic;">gshow</span><br/>
					Definiert, ob User das Modul im Adminbereich sehen, wenn diese die
					Rechte f&uuml;r das Modul besitzen<br/>
					<br/>
					<span style="font-weight: bold; font-style: italic;">ashow</span><br/>
					Definiert, ob das Modul nachtr&auml;glich installiert worden ist<br/>
					<br/>
					<span style="font-weight: bold; font-style: italic;">fright</span><br/>
					Stellt fest, ob Rechte f&uuml;r das Modul vergeben werden
					k&ouml;nnen
				</span>
</div>

<script language="JavaScript" type="text/javascript">
<!--
  sichtbar();
//-->
</script>