{EXPLODE "formular_insert"}
<script type="text/javascript" src="include/includes/js/bbcode.js"></script>
<form action="index.php?gbook-insert" method="POST" name="form" id="gbook_form">
    {FEHLER}
    <table width="100%" class="border" cellspacing="1" border="0" cellpadding="5">
        <tr>
            <td class="Chead" colspan="2"><b>{_lang_insert}</b></td>
        </tr><tr>
            <td class="Cmite" width="100"><b>{_lang_name}</b></td>
            <td class="Cnorm"><input type="text" value="{uname}" tabindex="1" name="name"></td>
        </tr><tr>
            <td class="Cmite"><b>{_lang_mail}</b></td>
            <td class="Cnorm"><input type="text" name="mail" tabindex="2" value="{MAIL}"></td>
        </tr><tr>
            <td class="Cmite"><b>{_lang_homepage}</b></td>
            <td class="Cnorm"><input type="text" name="page" tabindex="3" value="{PAGE}"></td>
        </tr><tr>
            <td class="Cmite"><b>{_lang_message}</b><br/><br/>{SMILIES}</td>
            <td class="Cnorm">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="100%"><!-- BB Code START -->{__BBCodeButtons__}<!-- BB Code START --></td>
                    </tr>
                    <tr class="Cnorm">
                        <td width="100%">
                            <textarea style="width: 98%" rows="10" tabindex="4" name="txt" id="gbookText">{TEXT}</textarea>
                            <br />Noch <input size="3" id="gbookTextLength" value="{TXTL}"> {_lang_signs}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {ANTISPAM}
        <tr class="Cdark">
            <td></td>
            <td><input name="submit" type="submit" value="{_lang_formsub}" tabindex="5" accesskey="s"> &nbsp; <input name="preview" type="submit" value="{_lang_preview}" /></td>
        </tr>
    </table>
</form>
<script type="text/javascript">
if (ic) {
    ic.gbook = {maxTextLength: {TXTL}};
}
</script>
{EXPLODE "preview"}
<table width="100%" class="border" cellspacing="1" border="0" cellpadding="5">
    <tr>
        <td class="Chead"><b>{_lang_preview}</b></td>
    </tr>
    <tr class="Cnorm">
        <td>{TEXT}</td>
    </tr>
</table>
<br />