<noscript>Bitte JavaScript aktivieren</noscript>
<form action="index.php?forum-privmsg-new" method="POST" name="form" id="newpm_form">
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%">
      <b>[</b> <a href="index.php?forum-privmsg">{_lang_inbox}</a> <b>|</b> <a href="index.php?forum-privmsg-showsend">{_lang_outbox}</a> <b>]</b></td><td width="50%" align="right">
      <b>[</b> <a href="index.php?forum-privmsg-new">{_lang_writemessage}</a> <b>]</b>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" class="border" cellpadding="5">
  <tr class="Chead">
    <th colspan="2" height="20">{_lang_writenewmessage}</th>
  </tr><tr>
    <td class="Cmite">{_lang_receiver}</td>
    <td class="Cnorm"><input name="name" value="{name}" /> <a href="index.php?search-finduser" target="_blank" onClick="return finduser();">finden</a></td>
  </tr><tr>
    <td class="Cmite">{_lang_reference}</td>
    <td class="Cnorm"><input type="text" tabindex="2" maxlength="50" size="40" name="bet" value="{BET}"></td>
  </tr><tr>
    <td colspan="2" height="20" class="Cmite"><b>{_lang_writeyourpost}</b></td>
  </tr><tr>
    <td class="Cmite" rowspan="2">{SMILIES}</td>
    <td class="Cnorm"><!-- BB Code START -->{__BBCodeButtons__}<!-- BB Code ENDE --></td>
  </tr><tr>
    <td width="80%" class="Cnorm"> <textarea style="width: 98%" name="txt" rows="15" cols="65" tabindex="3">{TXT}</textarea></td>
  </tr><tr>
    <td class="Cmite"></td>
    <td class="Cnorm"><input type="submit" tabindex="4" accesskey="s" value="{_lang_send}" name="sub"></td>
  </tr>
</table>
</form>