<form aciont="admin.php?groups-funcs" method="POST">
<table cellspacing="1" cellpadding="5" broder="0" align="center" class="border">
  <tr class="Cdark">
		<td><input size="3" maxlength="2" name="apos" /></td>
    <td><input name="aname" /></td>
    <td><input class="sub" type="submit" value="Add" name="s" /></td>
	</tr>
	{EXPLODE}
	<tr class="{class}">
		<td><input size="3" maxlength="2" name="pos[{id}]" value="{pos}" /></td>
    <td><input name="name[{id}]" value="{name}" /></td>
		<td><a href="admin.php?groups-funcs-d{id}"><img src="include/images/icons/del.png" title="l&ouml;schen" alt="l&ouml;schen" /></a></td>
	</tr>
{EXPLODE}
  <tr class="Cdark">
	  <td colspan="3" align="center"><input class="sub" type="submit" value="Send" name="s"></td>
  </tr>
</table>
</form>