{EXPLODE "error_no_ids"}
<p class="error">
  Es ist ein Fehler aufgetreten. Bitte gehe zur&uuml;ck ins 
  <a href="index.php?forum">Forum</a> und versuche es noch einmal.
</p>
{EXPLODE "no_such_post"}
<p class="error">
  Der angegebene Beitrag existiert nicht! Bitte gehe zur&uuml;ck ins 
  <a href="index.php?forum">Forum</a> und versuche es noch einmal.
</p>
{EXPLODE "pm_betreff"}
  {NAME} hat den Beitrag {BEITRAG} gemeldet!
{EXPLODE "pm_content"}
  {NAME} hat den Beitrag {BEITRAG} als unpassend gemeldet!
  Bitte sehe dir den Beitrag unter [url=index.php?forum-showposts-{TID}#{PID}]diesem Link[/url] an.
{EXPLODE "weiterleitung"}
  Vielen Dank f&uuml;r die Meldung! Du wirst weitergeleitet...