<div style="float: right; text-align: right">Gesamt: {gAnz}</div><br /><br />

<table width="100%" cellpadding="2" cellspacing="1" border="0" class="border">{EXPLODE}
  <tr class="{class}">
    <td class="erstezeile" width="15"><img src="include/images/forum/{ord}.gif" width="15" height="15" border="0"></td>
    <td class="erstezeile"><a href="index.php?{link}"><strong>{titel}</strong>{author}</a></td>
  </tr>{EXPLODE}
</table>
{MPL}
{EXPLODE}
<br /><form action="index.php?forum-aeit" method="post"><input type="submit" value="{_lang_ownposts} {_lang_from} :" /> <input name="name" value="{name}" type="text" size="15" /> &nbsp; </form>