<table width="100%" cellpadding="4" cellspacing="1" class="border" border="0">
  <tr class="Chead">
    <th width="58%" colspan="2" align="center"><b>{_lang_board}</b></th>
    <th width="6%">{_lang_post}</th>
    <th width="6%">{_lang_topic}</th>
    <th width="25%" align="center">{_lang_lastpost}</th>
  </tr>{EXPLODE}<tr class="Cdark">
    <td colspan="5"><strong><a href="index.php?forum-showcat-{cid}">{cname}</a></strong></td>
  </tr>{EXPLODE}<tr class="Cmite">
    <td colspan="5"><strong> &nbsp; &nbsp; &raquo; <a href="index.php?forum-showcat-{cid}">{cname}</a></strong></td>
  </tr>{EXPLODE}<tr class="Cnorm">
    <td width="5%" align="center" valign="middle"><img alt="" src="include/images/forum/{ORD}.gif" width="15" height="15" border="0"></td>
    <td><a href="index.php?forum-showtopics-{id}">{name}</a><br /><span class="smalfont">{besch}{mods}</span></td>
    <td align="center"><span class="smalfont">{posts}</span></td>
    <td align="center"><span class="smalfont">{topics}</span></td>
    <td><span class="smalfont">
      <a class="smalfont" title="{topicl}" href="index.php?forum-showposts-{tid}-p{page}#{pid}">{topic}</a><br />{_lang_from}: {erst} {_if_{show_author}=='1'}<br />{_lang_author} : {author} {/_endif}</span>
    </td>
  </tr>
  {EXPLODE}
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td width="50%" valign="top"><a href="index.php?forum-markallasread">{_lang_markallasread}</a></td>
    <td width="50%" style="text-align: right" valign="top">
      <a href="index.php?forum-augt">{_lang_newtopicssincelastvisit}</a><br />
      <a href="index.php?forum-aubt">{_lang_topicwithnoreply}</a><br />
      <a href="index.php?forum-aeit">{_lang_ownposts}</a>
    </td>
  </tr>
</table>
<br />
<br />
<table width="100%" border="0" cellpadding="5" cellspacing="1" class="border">
  <tr class="Cnorm">
    <td class="erstezeile">{_lang_it} {istsind} {gesonline} {_lang_guestsonline,ofthem} {useronline} {_if_{useronline}=='1'}{_lang_registredand}{/_endif}{_if_{useronline}!='1'}{_lang_registrededand}{/_endif} {gastonline} {_lang_guests}<br />{userliste}</td>
  </tr>
  <tr class="Cnorm">
    <td><b>{users}</b> {_lang_membershaveritten} <b>{posts}</b> {_lang_postsin} <b>{topics}</b> {_lang_topics}</td>
  </tr>
</table>
<br />
<br />
<img src="include/images/forum/nord.gif" alt="neue Beitr&auml;ge" border="0">&nbsp;&nbsp;{_lang_newposts}&nbsp;&nbsp;<img src="include/images/forum/ord.gif" alt="keine neuen Beitr&auml;ge" border="0">&nbsp;&nbsp;{_lang_nonewposts}&nbsp;&nbsp;<img src="include/images/forum/cord.gif" alt="Thema geschlossen" border="0">&nbsp;&nbsp;{_lang_topicclosed}
{privmsgpopup}