<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td width="100%" valign="top">
			<form action="admin.php?bbcode-config" method="POST" name="form">
			<div style="font-size:12px;font-weight:bold;color:#0033FF;width:389px;" align="center">{Message}</div>
			<table width="389" border="0" cellpadding="3" cellspacing="1" class="border">
			 	<tr class="Cdark">
					<td colspan="2"><b>Videos <em>YouTube / Gametrailers</em></b></td>
				</tr>
				
				<tr>
                  <td width="197" class="Cmite">Breite in Pixel  :</td>
                  <td width="177" class="Cnorm"><input type="text" name="BBCode_YoutubeBreite" value="{BBCode_YoutubeBreite}" size="10"></td>
			  </tr>
				<tr>
                  <td class="Cmite">H&ouml;he in Pixel  :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_YoutubeHoehe" value="{BBCode_YoutubeHoehe}" size="10"></td>
			  </tr>
				<tr>
                  <td class="Cmite">Hintergrundfarbe :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_YoutubeHintergrundfarbe" value="{BBCode_YoutubeHintergrundfarbe}" size="10"></td>
			  </tr>
			  <tr class="Cdark">
					<td colspan="2"><b>Videos <em>Google</em></b></td>
				</tr>
				
				<tr>
                  <td class="Cmite">Breite in Pixel  :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_GoogleBreite" value="{BBCode_GoogleBreite}" size="10"></td>
			  </tr>
				<tr>
                  <td class="Cmite">H&ouml;he in Pixel  :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_GoogleHoehe" value="{BBCode_GoogleHoehe}" size="10"></td>
			  </tr>
				<tr>
                  <td class="Cmite">Hintergrundfarbe :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_GoogleHintergrundfarbe" value="{BBCode_GoogleHintergrundfarbe}" size="10"></td>
			  </tr>
			  <tr class="Cdark">
					<td colspan="2"><b>Videos <em>MyVideo</em></b></td>
				</tr>
				
				<tr>
                  <td class="Cmite">Breite in Pixel  :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_MyvideoBreite" value="{BBCode_MyvideoBreite}" size="10"></td>
			  </tr>
				<tr>
                  <td class="Cmite">H&ouml;he in Pixel  :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_MyvideoHoehe" value="{BBCode_MyvideoHoehe}" size="10"></td>
			  </tr>
				<tr>
                  <td class="Cmite">Hintergrundfarbe :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_MyvideoHintergrundfarbe" value="{BBCode_MyvideoHintergrundfarbe}" size="10"></td>
			  </tr>
			  <tr class="Cdark">
					<td colspan="2"><b>Flash</b></td>
				</tr>
				
				<tr>
                  <td class="Cmite">Breite in Pixel  :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_FlashBreite" value="{BBCode_FlashBreite}" size="10"></td>
			  </tr>
				<tr>
                  <td class="Cmite">H&ouml;he in Pixel  :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_FlashHoehe" value="{BBCode_FlashHoehe}" size="10"></td>
			  </tr>
				<tr>
                  <td class="Cmite">Hintergrundfarbe :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_FlashHintergrundfarbe" value="{BBCode_FlashHintergrundfarbe}" size="10"></td>
			  </tr>
			   <tr class="Cdark">
					<td colspan="2"><b>Zeichenkette</b></td>
			  </tr>
				
				<tr>
                  <td class="Cmite">Max. Schriftgr&ouml;&szlig;e   :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_SizeMax" value="{BBCode_SizeMax}" size="10"></td>
			  </tr>
				<tr>
                  <td class="Cmite">Max. URL L&auml;nge :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_UrlMaxLaenge" value="{BBCode_UrlMaxLaenge}" size="10"></td>
			  </tr>
			  <tr>
                  <td class="Cmite">Max. Wortl&auml;nge :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_WortMaxLaenge" value="{BBCode_WortMaxLaenge}" size="10"></td>
			  </tr>
			  <tr>
                  <td class="Cmite" colspan="2"><span style="font-size:9px;color:#FF0000;padding-bottom:2px;"><u>Achtung:</u> Maximale Wortl&auml;nge muss gr&ouml;&szlig;er sein wie Maximale URL L&auml;nge!</span></td>
			  </tr>
				 <tr class="Cdark">
					<td colspan="2"><b>Grafik</b></td>
				</tr>
				
				<tr>
                  <td class="Cmite">Max. [img] Breite :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_ImgMaxBreite" value="{BBCode_ImgMaxBreite}" size="10"></td>
			  </tr>
				<tr>
                  <td class="Cmite">Max. [img] H&ouml;he :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_ImgMaxHoehe" value="{BBCode_ImgMaxHoehe}" size="10"></td>
			  </tr>
				<tr>
                  <td class="Cmite">Max. [screenshot] Breite  :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_ScreenMaxBreite" value="{BBCode_ScreenMaxBreite}" size="10"></td>
			  </tr>
			  <tr>
                  <td class="Cmite">Max. [screenshot] H&ouml;he  :</td>
                  <td class="Cnorm"><input type="text" name="BBCode_ScreenMaxHoehe" value="{BBCode_ScreenMaxHoehe}" size="10"></td>
			  </tr>
			  
				<tr class="Cdark">
					<td></td>
					<td><input type="submit" value="Speichern" name="BB_SubmitConfig" /></td>
				</tr>
		  	</table>
			</form>
		</td>
	</tr>
</table>