<script language="JavaScript" type="text/javascript">
<!--
  function deleteConf (id,active) {
	if ( active == '1' ){
		alert ('Die Standardkonfiguration sollte nicht geloescht werden!');
	} else {
		var x = confirm ( 'Diese Konfiguration wirklich loeschen?' );
		if (x) {
		  document.location.href='admin.php?ajaxchat-config-del-'+id;
		}
	}
  }
//-->
</script>
<div style="float:right"><a href="admin.php?ajaxchat-config-show">Neue Konfiguration erstellen</a> | <a href="admin.php?ajaxchat">Zur&uuml;ck zum Hauptmen&uuml;</a></div>
<br />
<br />
<table cellpadding="3" cellspacing="1" border="0" style="width: 100%;">
  <tr>
    <td style="width: 60%; vertical-align: top;">
		<table cellpadding="5" cellspacing="1" border="0" class="border" style="width: 100%;">
		  <tr class="Chead">
			<th colspan="2">AjaxChat Konfiguration</th>
		  </tr>
 {EXPLODE}
		  <tr class="{class}">
			<td style="width: 50px; text-align: center;">
			  &nbsp;<a href="admin.php?ajaxchat-config-show-{id}"><img src="include/images/icons/edit.gif" border="0" title="&auml;ndern" alt="&auml;ndern" /></a>&nbsp;
			  &nbsp;<a href="javascript:deleteConf({id},{active})"><img src="include/images/icons/del.gif" border="0" title="l&ouml;schen" alt="l&ouml;schen" /></a>&nbsp;
			</td>
			<td>{prefix}{name}{suffix}</td>
		  </tr>
 {EXPLODE}
		</table>
	</td>
	<td style="width: 40%; vertical-align: top;">
		<table cellpadding="5" cellspacing="1" border="0" class="border">
		  <tr class="Chead">
			<th>Hinweis</th>
		  </tr><tr>
			<td class="Cmite" style="text-align: justify;">
				Hier findest Du alle Konfigurationseinstellungen, die erstellt wurden.
				Somit kannst Du alte Konfigurationsdaten abspeichern und im Notfall
				wiederherstellen. Die Standard-Einstellungen k&ouml;nnen nicht
				gel&ouml;scht werden und stehen am Anfang der Tabelle.
			</td>
		  </tr>
		</table>
	</td>
  </tr>
</table>