<div style="float:right"><a href="admin.php?ajaxchat">Zur&uuml;ck zum Hauptmen&uuml;</a></div>
<br />
<br />
<div style="text-align: center;">
<span
 style="font-style: italic;"><big>Puh! Module anzupassen ist meist
schwerer, als diese selbst zu coden.<br>
Aber jetzt bin ich, "Florian K&ouml;rner" alias "Flomavali", ja mit der Arbeit fertig.<br>
Gerne kannst Du mit einer kleinen Spende "Danke" sagen.<br>
<br />
<br />
&Uuml;ber PayPal...
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="7177462">
<input type="image" src="https://www.paypal.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
<img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</form>
<br />
<br />
oder &uuml;ber Handy...
<br />
<iframe src="https://billing.micropayment.de/fastdonate/?account=16729&theme=type5-blue" width="468" height="60" frameBorder="0" border="0" marginheight="0" marginwidth="0"><a href="https://billing.micropayment.de/fastdonate/?account=16729&theme=type5-blue" target="_blank">Donate Now!</a></iframe>
<br />
<br />
... Hauptsache, es kommt an! *grins*
</big>
</span>
</div>