  <a href="javascript:history.back()"><< {_lang_back}</a><br /><br />
  <table class="border" cellpadding="3" cellspacing="1" border="0">
		<tr class="Chead">
			<td colspan="2"><b>War Informationen</b></td>
		</tr><tr class="Cdark">
			<td colspan="2"><b>Basis Informationen</b></td>
		</tr><tr>
			<td class="Cmite">Gegner Nation</td>
			<td class="Cnorm"><img src="include/images/flags/{land}" alt=""></td>
		</tr><tr>
			<td class="Cmite">Gegner Name</td>
			<td class="Cnorm">{gegner}</td>
		</tr><tr>
			<td class="Cmite">Gegner Tag</td>
			<td class="Cnorm">{tag}</td>
		</tr><tr>
			<td class="Cmite">Gegner Page</td>
			<td class="Cnorm"><a href="{page}" target="_blank">{page}</a></td>
		</tr><tr class="Cdark">
			<td colspan="2"><b>Ansprechpartner</b></td>
		</tr><tr>
			<td class="Cmite">Gegner Email</td>
			<td class="Cnorm"><a href="mailto:{mail}">{mail}</a></td>
		</tr><tr>
			<td class="Cmite">Gegner ICQ</td>
			<td class="Cnorm">{icq}</td>
		</tr><tr class="Cdark">
			<td colspan="2"><b>Matchinfo</b></td>
		</tr><tr>
			<td class="Cmite">Datum | Zeit</td>
			<td class="Cnorm">{day}.{mon}.{jahr} - {stu}:{min}:{sek}</td>
		</tr><tr>
			<td class="Cmite">Treffpunkt</td>
			<td class="Cnorm">{wo}</td>
		</tr><tr>
			<td class="Cmite">Team</td>
			<td class="Cnorm">{tid}</td>
		</tr><tr>
			<td class="Cmite">XonX</td>
			<td class="Cnorm">{mod}</td>
		</tr><tr>
			<td class="Cmite">Game</td>
			<td class="Cnorm">{game}</td>
		</tr><tr>
			<td class="Cmite">Matchtyp</td>
			<td class="Cnorm">{mtyp}</td>
		</tr><tr>
			<td class="Cmite">Nachricht</td>
			<td class="Cnorm">{txt}</td>
		</tr>
  </table>