<html>
<head>
<link rel="stylesheet" type="text/css" href="include/admin/templates/style.css">
<script language="JavaScript" type="text/javascript">
<!--
function closeThisWindow() {
  opener.focus();
  window.close();
}
</script>
</head>
<body>
<table border="0" cellpadding="5" cellspacing="1" class="border" width="100%">
  <tr>
    <td class="Callg">{msg}
      <form action="admin.php?wars-last-members" method="POST">
      {ANTISPAM}
      <input type="hidden" name="wid" value="{wid}" />
      <table border="0" cellpadding="2" cellspacing="1" class="border">
        <tr class="Chead">
          <td colspan="2"><b>Member hinzuf&uuml;gen</b></td>
        </tr><tr>
          <td class="Cmite"><select name="add_uid">{liste}</select></td>
          <td class="Cdark"><input type="submit" value="Absenden" /></td>
        </tr>
      </table>
      <br />
      <table border="0" cellpadding="2" cellspacing="1" class="border" width="100%">
        <tr class="Chead">
          <td colspan="2"><b>Member</b></td>
        </tr>{EXPLODE}<tr class="{class}">
          <td>{name}</td>
          <td><a href="admin.php?wars-last-members=0&wid={wid}&delete_uid={id}"><img src="include/images/icons/del.gif" border="0" alt="l&ouml;schen" title="l&ouml;schen" /></a></td>
        </tr>{EXPLODE}
      </table>
      </form>
    </td>
  </tr>
</table>
</body>
</html>