<script src="./include/includes/js/jquery/jquery.validate.js" type="text/javascript"></script>
<style>
#form1 label.error { margin-left: 0px; width: auto; display: inline; color: #FF0000; font-family:Verdana, "Trebuchet MS"; font-size: 11px; }
#newmapform label.error { margin-left: 0px; width: auto; display: inline; color: #FF0000; font-family:Verdana, "Trebuchet MS"; font-size: 11px; }
#editmapform label.error { margin-left: 0px; width: auto; display: inline; color: #FF0000; font-family:Verdana, "Trebuchet MS"; font-size: 11px; }
</style>
<script>
    function openNewMap() {
		$(function() {
			$( "#newMap" ).dialog( "destroy" );
			$( "#newMap" ).dialog({
				height: 250,
				width: 400,
				modal: true
			});
		});
	}
	function openchangefrage(mapid) {
			$( "#changedialog" ).dialog( "destroy" );
					$( "#changedialog" ).dialog({
						height: 175,
						width: 300,
						modal: true,
						autoOpen: true,
						buttons: {
									Ok: function() {
										$( this ).dialog( "close" );
										window.location = "admin.php?wars-locations-stat-"+mapid;
									},
									Nein: function() {
										$( this ).dialog( "close" );	
									}
						}
			});
	}
    
    function openMapDetails(id) {
		$(function() {
			$( "#MapDetails"+id ).dialog( "destroy" );
			$( "#MapDetails"+id ).dialog({
				height: 250,
				width: 350,
				modal: true
			});
		});
	}
	
$(document).ready(function() {		   
	$("#form1").validate({
		rules: {			
			suche: { required: true }
		},
		messages: {
			suche: "Bitte ein Kartenname angeben!"
		}
	});
	$("#newmapform").validate({
		rules: {			
			newmapname: { required: true, minlength: 2 },
		},
		messages: {
			newmapname: { required: "Bitte Namen angeben!", minlength: "Name mind. 2 Zeichen!" },
		}
	});
	$(document).ready(function() {
		$('#newgame').change(function() {
            var val = $( this ).val();
            if ($(this).val() != "x") {  
            $.ajax({
                type: "GET",
              url: "admin.php?wars-locations-j"+val,
                data: "data",
                success: function(data){
                    $('option', '#newicon').remove();
                    $('#newicon').append(data);
                }
            });
            };
            if ($(this).val() == "x") {
                $('option', '#newicon').remove();
                $('#newicon').append('<option value="choose">Bitte erst Game ausw&auml;hlen</option>');
            }
    	});
	});
    $(document).ready(function() {
		$('#newicon').change(function() {
            var val = $( this ).val();
            if ($(this).val() == "neu") { 
                $('#newpic').show();
            } else {
                $('#newpic').hide();
            }
		});
	});
      
 
});
</script>
<noscript>Bitte JavaScript aktivieren</noscript>
<div id="main">
  <div id="inlineNavi" style="display:inline;">
    <p>&nbsp;</p>
    <p><a onClick="openNewMap()" style="cursor: pointer; cursor: hand;" >neue Map eintragen</a></p>
  </div>
  <div id="okdialog" style="display:none;" title="Upload erfolgreich">
    <img src="include/images/icons/dialog-ok.png" /> Map erfolgreich zur Datenbank hinzugef&uuml;gt
  </div>
  <div id="Nokdialog" style="display:none;" title="Upload fehlgeschlagen">
    <img src="include/images/icons/dialog-nok.png" /> es ist ein Fehler aufgetreten
  </div>
  <div id="akdialog" style="display:none;" title="Erfolgreich Aktiviert">
        <img src="include/images/icons/dialog-ok.png" /> Map erfolgreich aktiviert
    </div>
    <div id="deakdialog" style="display:none;" title="Erfolgreich Deaktiviert">
        <img src="include/images/icons/dialog-ok.png" /> Map erfolgreich deaktiviert
    </div>
  <div id="changedialog" style="display:none;" title="Bist du dir sicher... ?">
        <img src="include/images/icons/dialog-what.png" /> Den Status dieser Map wirklich &auml;ndern ? <br/>
    </div>
  <div id="newMap" style="display:none;" title="neue Map anlegen">
    <form action="" method="post" enctype="multipart/form-data" id="newmapform" name="newmapform">
    {antispam}
      <table width="200" border="0">
        <tr>
          <td><label>Kartenname</td>
          <td><input type="text" name="newmapname" id="newmapname" value="{name}" /></label></td>
        </tr><tr>
            <td>Game</td>
            <td><select name="newgame" id="newgame" ><option value="x">------Bitte Ausw&auml;hlen----</option>{game}</select></td>
        </tr><tr>
            <td>Bild</td>
          <td><select name="newicon" id="newicon">{icon}</select><input type="file" name="newpic" id="newpic" style="display:none"/></td>
        </tr><tr>
            <td>Map Aktiv?</td>
            <td><input type="Radio" name="newinaktive" id="newinaktive" value="1" {inactivej}>Nein <input type="Radio" name="newinaktive" id="newinaktive" value="0" {inactiven}>Ja</td>
        </tr>
      </table>
      <p><input type="submit" name="newsubmit" id="newsubmit" value="Speichern" class="submit" /></p>
    </form>
  </div>
  <p>Hier kannst du deine Maps verwalten, neue Maps anlegen oder jene deaktivieren, die nicht mehr im System ben&ouml;tigt werden</p>
  <form id="form1" name="form1" method="post" action="">
    <input name="suche" type="text" id="suche" value="suche MapName..." onfocus="this.value = ''"/>
    <input type="submit" name="submit" id="submit" value="Senden" />
  </form>
  <p align="center">{siteindex}</p>
  <table width="98%" border="0" align="center">
    <tr class="Cmite">
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap"><strong>Mapbild</strong></td>
      <td nowrap="nowrap"><strong>Mapname</strong></td>
      <td nowrap="nowrap"><strong>Spiel</strong></td>
      <td nowrap="nowrap"><strong>Status</strong></td>
      <td nowrap="nowrap">&nbsp;</td>
    </tr><tr>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
    </tr>
{EXPLODE}
    <tr class="{class}">
        <td width="10px"><a onClick="openchangefrage({id})" style="cursor: pointer; cursor: hand;" ><img src="include/images/icons/{chekimg}.gif" alt="Ver&auml;ndern" title="Ver&auml;ndern" border="0"></a></td>
        <td width="10px"><a href="?wars-locations-e{id}"><img src="include/images/icons/edit.gif" alt="Ver&auml;ndern" title="Ver&auml;ndern" border="0"></a></td>
        <td><strong><img src="include/images/locations/{pic}" /></strong></td>
        <td><strong>{name}</strong></td>
        <td><strong>{game}</strong></td>
        <td>{inaktive}</td>
        <td width="10px"><a onClick="openMapDetails({id})" style="cursor: pointer; cursor: hand;"><img src="include/images/icons/eyeplus.gif" alt="Details" title="Details" border="0"></a></td>
    </tr>
{EXPLODE}
    <tr>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap">&nbsp;</td>
    </tr>
  </table>
  <p>{siteindex}</p>
{EXPLODE}
    <div id="MapDetails{id}" style="display:none;" title="Karten Details">
    <table width="300" border="0">
        <tr>
          <td>Aktuelles Bild</td>
          <td><img src="include/images/locations/{pic}" /></label></td>
        </tr><tr>
          <td>Kartenname</td>
          <td>{name}</td>
        </tr><tr>
          <td><label>Zugeordnetes Spiel</td>
          <td>{game}</td>
        </tr><tr>
            <td>Map Aktiv?</td>
            <td>{inaktive}</td>
        </tr>
      </table>
    </div>
{EXPLODE}
 </div>
{EXPLODE}
<script src="./include/includes/js/jquery/jquery.validate.js" type="text/javascript"></script>
<style>
#editmapform label.error { margin-left: 0px; width: auto; display: inline; color: #FF0000; font-family:Verdana, "Trebuchet MS"; font-size: 11px; }
</style>
<script>	
$(document).ready(function() {		   
	$("#editmapform").validate({
		rules: {			
			editmapname: { required: true, minlength: 2 },
		},
		messages: {
			editmapname: { required: "Bitte Namen angeben!", minlength: "Name mind. 2 Zeichen!" },
		}
	});
	$(document).ready(function() {
		$('#editgame').change(function() {
            var val = $( this ).val();
            if ($(this).val() != "x") {  
            $.ajax({
                type: "GET",
              url: "admin.php?wars-locations-j"+val,
                data: "data",
                success: function(data){
                    $('option', '#newicon').remove();
                    $('#newicon').append(data);
                }
            });
            };
            if ($(this).val() == "x") {
                $('option', '#editicon').remove();
                $('#editicon').append('<option value="choose">Bitte erst Game ausw&auml;hlen</option>');
            }
    	});
	});
      $(document).ready(function() {
		$('#editicon').change(function() {
            var val = $( this ).val();
            if ($(this).val() == "neu") { 
                $('#editpic').show();
            } else {
                $('#editpic').hide();
            }
		});
	});
});
</script>
<noscript>Bitte JavaScript aktivieren</noscript>
<div id="inlineNavi" style="display:inline;">
  <p>&nbsp;</p>
  <p><a href="admin.php?wars-locations" style="cursor: pointer; cursor: hand;" >zur&uuml;ck zur &Uuml;bersicht</a></p>
</div>
{aktuellespic}
<form action="" method="post" enctype="multipart/form-data" id="editmapform" name="editmapform">
{ANTISPAM}
    <table width="200" border="0">
        <tr>
          <td><label>Kartenname</td>
          <td><input type="text" name="editmapname" id="editmapname" value="{name}" /></label></td>
        </tr><tr>
            <td>Game</td>
            <td><select name="editgame" id="editgame" ><option value="x">------Bitte Ausw&auml;hlen----</option>{game}</select></td>
        </tr><tr>
            <td>Bild</td>
          <td><select name="editicon" id="editicon">{icon}</select><input type="file" name="editpic" id="editpic" style="display:none"/></td>
        </tr><tr>
            <td>Map Aktiv?</td>
            <td><input type="Radio" name="editinaktive" id="editinaktive" value="1" {inactivej}>Nein <input type="Radio" name="editinaktive" id="editinaktive" value="0" {inactiven}>Ja</td>
        </tr>
      </table>
  <p><input type="submit" name="editsubmit" id="editsubmit" value="Speichern" class="submit" /></p>
</form>
{EXPLODE}