<a href="?wars-next-i">Neuen Next War</a><br><br>
<table width="100%" cellpadding="3" cellspacing="1" border="0" class="border" >
<tr class="Chead">
	<th>Game</th>
	<th>Datum</th>
	<th>Gegen</th>
	<th>Gefordertes Team</th>
	<th>Eingetragen von</th>
	<th>Eingetragen am</th>
	<th>Ge&auml;ndert von</th>
	<th>Ge&auml;ndert am</th>
	<th></th>
	<th></th>
</tr>
{EXPLODE}
<tr class="{class}">
	<td><img src="admin/images/games/{icon}" alt="{game}" border="0"></td>
	<td>Am {day}.{mon}.{jahr} um {stu}:{min}:{sek} Uhr</td>
	<td>{gegner}</td>
	<td>{team}</td>
	<td>{evon}</td>
	<td>Am {eday}.{emon}.{ejahr} um {estu}:{emin}:{esek} Uhr</td>
	<td>{cvon}</td>
	<td>{cam}</td>
	<td width="10px"><a href="?wars-next-e{id}"><img src="admin/images/icons/edit.gif" alt="Ver&auml;ndern" title="Ver&auml;ndern" border="0"></a></td>
	<td width="10px"><a href="?wars-last-u{id}">->Abschlie&szlig;en</a></td>
</tr>
{EXPLODE}
</table>
{MPL}
{EXPLODE}
<script src="/include/includes/js/jquery/jquery.validate.js" type="text/javascript"></script>
<script>
$(document).ready(function() {		   
	$("#new_nextwar").validate({
		rules: {			
			gegner: { required: true, minlength: 2 },
			tag: { required: true },
			page: { required: true, url: true },
			email: { required: true, email: true },
			//icq: { required: true },
			wo: { required: true },
			//txt: { required: true }
		},
		messages: {
			gegner: { required: "Bitte Gegner Name eingeben!", minlength: "Der Name muss mindestens 2 Zeichen haben!" },
			tag: { required: "Bitte Gegner Tag eingeben!" },
			page: "Bitte eine g&uuml;ltige Internetadresse eingeben!",
			email: "Bitte eine g&uuml;ltige Emailadresse eingeben!",
			//icq: "Bitte gib die ICQ Nummer an!",
			wo: "Bitte gib den Treffpunkt an!",
			//txt: "Bitte gib eine Nachricht an!"
		}
	});
});
</script>
<style type="text/css">#new_nextwar label.error { margin-left: 0px; width: auto; display: inline; color: #FF0000; font-family:Verdana, "Trebuchet MS"; font-size: 11px; }</style>
<noscript>Bitte JavaScript aktivieren</noscript>
<form action="admin.php?wars-next-i" method="POST" id="new_nextwar">
<table width="50%" cellpadding="2" cellspacing="1" border="0" class="border">
<tr class="Chead">
	<td width="50%" colspan="2"><b>Neuen Next War</b></td>
</tr><tr class="Cdark">
	<td colspan="2">Gegnerdetails</td>
</tr><tr>
	<td width="20%" class="Cmite">Alte Gegner</td>
	<td width="30%" class="Cnorm"><select name="opponents" onChange="submit()">{opponents}</select></td>
</tr><tr>
	<td class="Cmite">Nation</td>
	<td class="Cnorm"><select name="country" id="opponent_nation">{country}</select> <img id="opponent_nation_flag" src="" alt="L&auml;nderflagge"/></td>
</tr><tr class="Cmite">
	<td width="20%" class="Cmite">Clantag</td>
	<td width="30%" class="Cnorm"><input type="Text" name="tag" value="{tag}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Clanname</td>
	<td width="30%" class="Cnorm"><input type="Text" name="name" value="{name}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Clanpage</td>
	<td width="30%" class="Cnorm"><input type="Text" name="url" value="{url}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Kontaktperson</td>
	<td width="30%" class="Cnorm"><input type="Text" name="contact" value="{contact}"></td>
</tr><tr>
	<td width="20%" class="Cmite">EMail</td>
	<td width="30%" class="Cnorm"><input type="Text" name="email" value="{email}"></td>
</tr><tr>
	<td width="20%" class="Cmite">ICQ</td>
	<td width="30%" class="Cnorm"><input type="Text" name="icq" value="{icq}"></td>
</tr><tr>
	<td width="20%" class="Cmite">AIM</td>
	<td width="30%" class="Cnorm"><input type="Text" name="aim" value="{aim}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Yahoo</td>
	<td width="30%" class="Cnorm"><input type="Text" name="yim" value="{yim}"></td>
</tr><tr>
	<td width="20%" class="Cmite">MSN</td>
	<td width="30%" class="Cnorm"><input type="Text" name="msn" value="{msn}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Xfire</td>
	<td width="30%" class="Cnorm"><input type="Text" name="xfire" value="{xfire}"></td>
</tr><tr>
	<td width="20%" class="Cmite">IRC-Netzwerk</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ircnw" value="{ircnw}"></td>
</tr><tr>
	<td width="20%" class="Cmite">IRC-Channel</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ircch" value="{ircch}"></td>
</tr><tr class="Cdark">
	<td colspan="2">Wardetails</td>
</tr><tr>
	<td width="20%" class="Cmite">Gegen das Team</td>
	<td width="30%" class="Cnorm"><select name="gid" onChange="submit()">{team}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Game</td>
	<td width="30%" class="Cnorm"><select name="game" onChange="submit()">{game}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Gametyp</td>
	<td width="30%" class="Cnorm"><select name="gametypeid">{gametype}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Matchtyp</td>
	<td width="30%" class="Cnorm"><select name="matchtypeid">{matchtype}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Datum und Zeit</td>
	<td width="30%" class="Cnorm">Am <input type="Text" name="day" value="{day}" size="2" maxlength="2">.<input type="Text" name="mon" value="{mon}" size="2" maxlength="2">.<input type="Text" name="jahr" value="{jahr}" size="4" maxlength="4"> um <input type="Text" name="stu" value="{stu}" size="2" maxlength="2">:<input type="Text" name="min" value="{min}" size="2" maxlength="2">:<input type="Text" name="sek" value="{sek}" size="2" maxlength="2"> Uhr</td>
</tr><tr>
	<td width="20%" class="Cmite">Player pro Seite</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ppt" value="{ppt}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Info</td>
	<td width="30%" class="Cnorm"><textarea name="txt" cols="50" rows="8">{txt}</textarea></td>
</tr><tr class="Cdark">
	<td colspan="2">Locations</td>
</tr>
{EXPLODE}
<tr>
	<td width="20%" class="Cmite">#{nr}</td>
	<td width="30%" class="Cnorm"><select name="locations[{nr}]" onChange="submit()">{locations}</select></td>
</tr>
{EXPLODE}
<tr class="Cdark">
	<td colspan="2">Server</td>
</tr><tr>
	<td width="20%" class="Cmite">Vorhandene Server</td>
	<td width="30%" class="Cnorm"><select name="servers" onChange="submit()">{servers}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Servername</td>
	<td width="30%" class="Cnorm"><input type="Text" name="servername" value="{servername}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Server IP:</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ip" value="{ip}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Serverpasswort</td>
	<td width="30%" class="Cnorm"><input type="Text" name="pw" value="{pw}"></td>
</tr>
<tr class="Cdark">
	<td></td>
	<td><input type="submit" value="Nextwar eintragen" name="sub" /></td>
</tr>
</table>
</form>
<script language="JavaScript" type="text/javascript">
<!--
  var flagpath = 'include/images/flags/';
  $(document).ready(function() {
    $('#opponent_nation_flag')
    .attr('src',flagpath + $('#opponent_nation').val());
    $('#opponent_nation')
    .change(function(){
      $('#opponent_nation_flag').attr('src',flagpath + $(this).val());
    });
//-->
</script>
{EXPLODE}
<form action="admin.php?wars-next-u{id}" method="POST">
<table width="50%" cellpadding="2" cellspacing="1" border="0" class="border">
<tr class="Chead">
	<td width="50%" colspan="2"><b>Als Next War &uuml;bernehmen</b></td>
</tr><tr class="Cdark">
	<td colspan="2">Gegnerdetails</td>
</tr><tr>
	<td width="20%" class="Cmite">Alte Gegner</td>
	<td width="30%" class="Cnorm"><select name="opponents" onChange="submit()">{opponents}</select></td>
</tr><tr>
	<td class="Cmite">Nation</td>
	<td class="Cnorm"><select name="country" id="opponent_nation">{country}</select> <img id="opponent_nation_flag" src="" alt="L&auml;nderflagge"/></td>
</tr><tr class="Cmite">
	<td width="20%" class="Cmite">Clantag</td>
	<td width="30%" class="Cnorm"><input type="Text" name="tag" value="{tag}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Clanname</td>
	<td width="30%" class="Cnorm"><input type="Text" name="name" value="{name}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Clanpage</td>
	<td width="30%" class="Cnorm"><input type="Text" name="url" value="{url}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Kontaktperson</td>
	<td width="30%" class="Cnorm"><input type="Text" name="contact" value="{contact}"></td>
</tr><tr>
	<td width="20%" class="Cmite">EMail</td>
	<td width="30%" class="Cnorm"><input type="Text" name="email" value="{email}"></td>
</tr><tr>
	<td width="20%" class="Cmite">ICQ</td>
	<td width="30%" class="Cnorm"><input type="Text" name="icq" value="{icq}"></td>
</tr><tr>
	<td width="20%" class="Cmite">AIM</td>
	<td width="30%" class="Cnorm"><input type="Text" name="aim" value="{aim}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Yahoo</td>
	<td width="30%" class="Cnorm"><input type="Text" name="yim" value="{yim}"></td>
</tr><tr>
	<td width="20%" class="Cmite">MSN</td>
	<td width="30%" class="Cnorm"><input type="Text" name="msn" value="{msn}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Xfire</td>
	<td width="30%" class="Cnorm"><input type="Text" name="xfire" value="{xfire}"></td>
</tr><tr>
	<td width="20%" class="Cmite">IRC-Netzwerk</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ircnw" value="{ircnw}"></td>
</tr><tr>
	<td width="20%" class="Cmite">IRC-Channel</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ircch" value="{ircch}"></td>
</tr><tr class="Cdark">
	<td colspan="2">Wardetails</td>
</tr><tr>
	<td width="20%" class="Cmite">Gegen das Team</td>
	<td width="30%" class="Cnorm"><select name="gid" onChange="submit()">{team}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Game</td>
	<td width="30%" class="Cnorm"><select name="game" onChange="submit()">{game}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Gametyp</td>
	<td width="30%" class="Cnorm"><select name="gametypeid">{gametype}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Matchtyp</td>
	<td width="30%" class="Cnorm"><select name="matchtypeid">{matchtype}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Datum und Zeit</td>
	<td width="30%" class="Cnorm">Am <input type="Text" name="day" value="{day}" size="2" maxlength="2">.<input type="Text" name="mon" value="{mon}" size="2" maxlength="2">.<input type="Text" name="jahr" value="{jahr}" size="4" maxlength="4"> um <input type="Text" name="stu" value="{stu}" size="2" maxlength="2">:<input type="Text" name="min" value="{min}" size="2" maxlength="2">:<input type="Text" name="sek" value="{sek}" size="2" maxlength="2"> Uhr</td>
</tr><tr>
	<td width="20%" class="Cmite">Player pro Seite</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ppt" value="{ppt}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Info</td>
	<td width="30%" class="Cnorm"><textarea name="txt" cols="50" rows="8">{txt}</textarea></td>
</tr><tr class="Cdark">
	<td colspan="2">Locations</td>
</tr>
{EXPLODE}
<tr>
	<td width="20%" class="Cmite">#{nr}</td>
	<td width="30%" class="Cnorm"><select name="locations[{nr}]" onChange="submit()">{locations}</select></td>
</tr>
{EXPLODE}
<tr class="Cdark">
	<td colspan="2">Server</td>
</tr><tr>
	<td width="20%" class="Cmite">Vorhandene Server</td>
	<td width="30%" class="Cnorm"><select name="servers" onChange="submit()">{servers}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Servername</td>
	<td width="30%" class="Cnorm"><input type="Text" name="servername" value="{servername}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Server IP:</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ip" value="{ip}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Serverpasswort</td>
	<td width="30%" class="Cnorm"><input type="Text" name="pw" value="{pw}"></td>
</tr>
<tr class="Cdark">
	<td></td>
	<td><input type="submit" value="Nextwar eintragen" name="sub" /></td>
</tr>
</table>
</form>
{EXPLODE}
<script language="JavaScript" type="text/javascript">
<!--
  function setufocus() {
    document.f.txt.focus();
  }
  // manage div ...
  document.onmousemove = checkPosition;
  function checkPosition(e) {
    if(document.all) {
      mausX = event.clientX + document.body.scrollLeft;
      mausY = event.clientY + document.body.scrollTop;
    } else {
      mausX = e.pageX;
      mausY = e.pageY;
    }

  }
  function alertpos(dname) {
  if (document.layers) {
    document.layers[0].left = mausX;
    document.layers[0].top = mausY;
  } else if (document.getElementById) {
    document.getElementById(dname).style.left = (mausX + 10) + "px";
    document.getElementById(dname).style.top = (mausY + 50 ) + "px";
  }
  document.getElementById(dname).style.display = "inline";
  }
  function hiddpos(dname) {
    document.getElementById(dname).style.display = "none";
  }
  function delloc ( wid,lid ) {
    var Fenster = window.open ('admin.php?wars-next-e'+wid+'-d'+lid, 'delllocation', 'status=no,scrollbars=no,height=10,width=10');
  }
  function addloc ( wid,gid ) {
    var Fenster = window.open ('admin.php?wars-next-e'+wid+'-a'+gid, 'addlocation', 'status=no,scrollbars=no,height=500,width=500');
  }
  var flagpath = 'include/images/flags/';
  $(document).ready(function() {
    $('#opponent_nation_flag')
    .attr('src',flagpath + $('#opponent_nation').val());
    $('#opponent_nation')
    .change(function(){
      $('#opponent_nation_flag').attr('src',flagpath + $(this).val());
    });
//-->
</script>
<body onload="setufocus()">
<form action="admin.php?wars-next-e{id}" method="POST" name="f">
<table width="50%" cellpadding="2" cellspacing="1" border="0" class="border">
<tr class="Chead">
	<td width="50%" colspan="2"><b>Next War bearbeiten</b></td>
</tr><tr class="Cdark">
	<td colspan="2">Gegnerdetails</td>
</tr><tr>
	<td width="20%" class="Cmite">Alte Gegner</td>
	<td width="30%" class="Cnorm"><select name="opponents" onChange="submit()">{opponents}</select></td>
</tr><tr>
	<td class="Cmite">Nation</td>
	<td class="Cnorm"><select name="country">{country}</select></td>
</tr><tr class="Cmite">
	<td width="20%" class="Cmite">Clantag</td>
	<td width="30%" class="Cnorm"><input type="Text" name="tag" value="{tag}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Clanname</td>
	<td width="30%" class="Cnorm"><input type="Text" name="name" value="{name}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Clanpage</td>
	<td width="30%" class="Cnorm"><input type="Text" name="url" value="{url}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Kontaktperson</td>
	<td width="30%" class="Cnorm"><input type="Text" name="contact" value="{contact}"></td>
</tr><tr>
	<td width="20%" class="Cmite">EMail</td>
	<td width="30%" class="Cnorm"><input type="Text" name="email" value="{email}"></td>
</tr><tr>
	<td width="20%" class="Cmite">ICQ</td>
	<td width="30%" class="Cnorm"><input type="Text" name="icq" value="{icq}"></td>
</tr><tr>
	<td width="20%" class="Cmite">AIM</td>
	<td width="30%" class="Cnorm"><input type="Text" name="aim" value="{aim}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Yahoo</td>
	<td width="30%" class="Cnorm"><input type="Text" name="yim" value="{yim}"></td>
</tr><tr>
	<td width="20%" class="Cmite">MSN</td>
	<td width="30%" class="Cnorm"><input type="Text" name="msn" value="{msn}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Xfire</td>
	<td width="30%" class="Cnorm"><input type="Text" name="xfire" value="{xfire}"></td>
</tr><tr>
	<td width="20%" class="Cmite">IRC-Netzwerk</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ircnw" value="{ircnw}"></td>
</tr><tr>
	<td width="20%" class="Cmite">IRC-Channel</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ircch" value="{ircch}"></td>
</tr><tr class="Cdark">
	<td colspan="2">Wardetails</td>
</tr><tr>
	<td width="20%" class="Cmite">Gegen das Team</td>
	<td width="30%" class="Cnorm"><select name="gid" onChange="submit()">{team}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Game</td>
	<td width="30%" class="Cnorm"><select name="game" onChange="submit()">{game}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Gametyp</td>
	<td width="30%" class="Cnorm"><select name="gametypeid">{gametype}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Matchtyp</td>
	<td width="30%" class="Cnorm"><select name="matchtypeid">{matchtype}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Datum und Zeit</td>
	<td width="30%" class="Cnorm">Am <input type="Text" name="day" value="{day}" size="2" maxlength="2">.<input type="Text" name="mon" value="{mon}" size="2" maxlength="2">.<input type="Text" name="jahr" value="{jahr}" size="4" maxlength="4"> um <input type="Text" name="stu" value="{stu}" size="2" maxlength="2">:<input type="Text" name="min" value="{min}" size="2" maxlength="2">:<input type="Text" name="sek" value="{sek}" size="2" maxlength="2"> Uhr</td>
</tr><tr>
	<td width="20%" class="Cmite">Player pro Seite</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ppt" value="{ppt}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Info</td>
	<td width="30%" class="Cnorm"><textarea name="txt" cols="50" rows="8">{txt}</textarea></td>
</tr><tr class="Cdark">
	<td colspan="2">Locations</td>
</tr>
{EXPLODE}
<tr>
	<td width="20%" class="Cmite">#{nr}</td>
	<td width="30%" class="Cnorm"><select name="locations[{nr}]">{locations}</select><a href="javascript:delloc({wid},{did})"><img src="admin/images/icons/del.gif" alt="L&ouml;schen" height="10px" width="10px" border="0"></a></td>
</tr>
{EXPLODE}
<tr>
	<td width="20%" class="Cmite"></td>
	<td width="30%" class="Cnorm"><a href="javascript:addloc({wid},{gid})">Location hinzuf&uuml;gen</a></td>
</tr>
<tr class="Cdark">
	<td colspan="2">Server</td>
</tr><tr>
	<td width="20%" class="Cmite">Vorhandene Server</td>
	<td width="30%" class="Cnorm"><select name="servers" onChange="submit()">{servers}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Servername</td>
	<td width="30%" class="Cnorm"><input type="Text" name="servername" value="{servername}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Server IP:</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ip" value="{ip}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Serverpasswort</td>
	<td width="30%" class="Cnorm"><input type="Text" name="pw" value="{pw}"></td>
</tr>
<tr class="Cdark">
	<td></td>
	<td><input type="submit" value="Nextwar &auml;ndern" name="sub" /></td>
</tr>
</table>
</form>
{EXPLODE}
<form action="admin.php?wars-next-i-l" method="POST">
<table width="50%" cellpadding="2" cellspacing="1" border="0" class="border">
<tr class="Chead">
	<td width="50%" colspan="2"><b>Neuen Next War</b></td>
</tr><tr class="Cdark">
	<td colspan="2">Gegnerdetails</td>
</tr><tr>
	<td width="20%" class="Cmite">Alte Gegner</td>
	<td width="30%" class="Cnorm"><select name="opponents" onChange="submit()">{opponents}</select></td>
</tr><tr>
	<td class="Cmite">Nation</td>
	<td class="Cnorm"><select name="country">{country}</select></td>
</tr><tr class="Cmite">
	<td width="20%" class="Cmite">Clantag</td>
	<td width="30%" class="Cnorm"><input type="Text" name="tag" value="{tag}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Clanname</td>
	<td width="30%" class="Cnorm"><input type="Text" name="name" value="{name}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Clanpage</td>
	<td width="30%" class="Cnorm"><input type="Text" name="url" value="{url}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Kontaktperson</td>
	<td width="30%" class="Cnorm"><input type="Text" name="contact" value="{contact}"></td>
</tr><tr>
	<td width="20%" class="Cmite">EMail</td>
	<td width="30%" class="Cnorm"><input type="Text" name="email" value="{email}"></td>
</tr><tr>
	<td width="20%" class="Cmite">ICQ</td>
	<td width="30%" class="Cnorm"><input type="Text" name="icq" value="{icq}"></td>
</tr><tr>
	<td width="20%" class="Cmite">AIM</td>
	<td width="30%" class="Cnorm"><input type="Text" name="aim" value="{aim}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Yahoo</td>
	<td width="30%" class="Cnorm"><input type="Text" name="yim" value="{yim}"></td>
</tr><tr>
	<td width="20%" class="Cmite">MSN</td>
	<td width="30%" class="Cnorm"><input type="Text" name="msn" value="{msn}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Xfire</td>
	<td width="30%" class="Cnorm"><input type="Text" name="xfire" value="{xfire}"></td>
</tr><tr>
	<td width="20%" class="Cmite">IRC-Netzwerk</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ircnw" value="{ircnw}"></td>
</tr><tr>
	<td width="20%" class="Cmite">IRC-Channel</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ircch" value="{ircch}"></td>
</tr><tr class="Cdark">
	<td colspan="2">Wardetails</td>
</tr><tr>
	<td width="20%" class="Cmite">Gegen das Team</td>
	<td width="30%" class="Cnorm"><select name="gid" onChange="submit()">{team}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Game</td>
	<td width="30%" class="Cnorm"><select name="game" onChange="submit()">{game}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Gametyp</td>
	<td width="30%" class="Cnorm"><select name="gametypeid">{gametype}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Matchtyp</td>
	<td width="30%" class="Cnorm"><select name="matchtypeid">{matchtype}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Datum und Zeit</td>
	<td width="30%" class="Cnorm">Am <input type="Text" name="day" value="{day}" size="2" maxlength="2">.<input type="Text" name="mon" value="{mon}" size="2" maxlength="2">.<input type="Text" name="jahr" value="{jahr}" size="4" maxlength="4"> um <input type="Text" name="stu" value="{stu}" size="2" maxlength="2">:<input type="Text" name="min" value="{min}" size="2" maxlength="2">:<input type="Text" name="sek" value="{sek}" size="2" maxlength="2"> Uhr</td>
</tr><tr>
	<td width="20%" class="Cmite">Player pro Seite</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ppt" value="{ppt}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Info</td>
	<td width="30%" class="Cnorm"><textarea name="txt" cols="50" rows="8">{txt}</textarea></td>
</tr><tr class="Cdark">
	<td colspan="2">Locations</td>
</tr>
{EXPLODE}
<tr>
	<td width="20%" class="Cmite">#{nr}</td>
	<td width="30%" class="Cnorm"><select name="locations[{nr}]" onChange="submit()">{locations}</select></td>
</tr>
{EXPLODE}
<tr class="Cdark">
	<td colspan="2">Server</td>
</tr><tr>
	<td width="20%" class="Cmite">Vorhandene Server</td>
	<td width="30%" class="Cnorm"><select name="servers" onChange="submit()">{servers}</select></td>
</tr><tr>
	<td width="20%" class="Cmite">Servername</td>
	<td width="30%" class="Cnorm"><input type="Text" name="servername" value="{servername}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Server IP:</td>
	<td width="30%" class="Cnorm"><input type="Text" name="ip" value="{ip}"></td>
</tr><tr>
	<td width="20%" class="Cmite">Serverpasswort</td>
	<td width="30%" class="Cnorm"><input type="Text" name="pw" value="{pw}"></td>
</tr>
<tr class="Cdark">
	<td></td>
	<td><input type="submit" value="Nextwar eintragen" name="sub" /></td>
</tr>
</table>
</form>