<script src="./include/includes/js/jquery/jquery.validate.js" type="text/javascript"></script>
<script>
$(document).ready(function() {		   
	$("#validate").validate({
		rules: {
			name: { required: true }
		},
		messages: {
			name: "Bitte Namen eingeben!"
		}
	});
});
</script>
<noscript>Bitte JavaScript aktivieren</noscript>
<script type="text/javascript">
    function finduser () {
        self.parent.ic.modalDialog({title:'User suchen', url:'index.php?search-finduser', width: 400, height: 250});
    }
</script>

<form name="form" action="admin.php?forum-choosemods" method="POST" id="validate">
{ANTISPAM}
<input type="hidden" name="fid" value="{fid}" />
<table cellpadding="2" cellspacing="1" border="0" class="border">
  <tr class="Chead">
    <td><b>Moderatoren festlegen</b></td>
  </tr><tr>
    <td>
      <input name="name" /> <input class="sub" type="submit" value="Add" name="s" />
      <input class="sub" type="button" value="Find" onClick="finduser()" />
    </td>
  </tr>
</table>
</form>
<br />
<table cellpadding="2" cellspacing="1" border="0" class="border">
  <tr class="Chead"><td colspan="2"><b>Moderatoren verwalten</b></td>
  </tr>
  {EXPLODE}
  <tr class="{class}">
     <td>{name}</td><td><a href="admin.php?forum-choosemods-d{uid}&fid={fid}"><img src="include/images/icons/del.png" alt="l&ouml;schen" title="l&ouml;schen"></a></td>
   </tr>{EXPLODE}
</table>