<script language="JavaScript" type="text/javascript">
<!--
  function finduser () {
    var Fenster = window.open ('index.php?search-finduser', 'finduser', 'status=no,scrollbars=yes,height=200,width=350');
    Fenster.focus();
  }
//-->
</script>

<form name="form" action="admin.php?forum-choosemods" method="POST">
<input type="hidden" name="fid" value="{fid}" />
<table cellpadding="2" cellspacing="1" border="0" class="border">
  <tr class="Chead">
    <td><b>Moderatoren festlegen</b></td>
  </tr><tr>
    <td>
      <input name="name" /> <input class="sub" type="submit" value="Add" name="s" /> 
      <input class="sub" type="button" value="Find" onClick="finduser()" />
    </td>
  </tr>
</table>
</form>
<br />
<table cellpadding="2" cellspacing="1" border="0" class="border">
  <tr class="Chead"><td colspan="2"><b>Moderatoren verwalten</b></td></tr>
{EXPLODE}<tr class="{class}">
     <td>{name}</td><td><a href="admin.php?forum-choosemods-d{uid}&fid={fid}"><img src="include/images/icons/del.png" alt="l&ouml;schen" title="l&ouml;schen"></a></td>
   </tr>{EXPLODE}
</table>
